<!--disclaimer-->
<div class="usa-disclaimer">
    <div class="usa-grid text-center">
        <span class="usa-disclaimer-official">
        <span  style="background-color:yellow"><b>Due to the lapse in government funding, only web sites supporting excepted functions will be updated unless otherwise funded.  As a result, the information on this website may not be up to date, the transactions submitted via the website may not be processed, and the agency may not be able to respond to inquiries until appropriations are enacted.
             <br/>Updates regarding government operating status and resumption of normal operations can be found at http://www.usa.gov</b></span>
        </span><br/>
        <span class="usa-disclaimer-official">
            <img class="usa-flag_icon" src="../../images/us_flag_small.png" alt="U.S. flag signifying that this is a United States federal government website" />
            <span translate="label.official.us.gov"></span>
        </span>
    </div>
</div>
<!--disclaimer-->