<div id="custom-modal">
    <div id="overlay">
        <div class="custom-modal-header">
            <div style="width: 85%">
                <span ng-class="{'small-model-title': eg.chartData.length > 1}" ng-bind=" eg.graphTitle"></span>
            </div>
            <div style="width: 15%">
                <span ng-if="eg.chartData.length === 1" class="custom-modal-button" >
                    <a name="close" href="javascript:void(0);" ng-click="eg.close()">
                        <i class="material-icons purple-icon fullscreen-exit-icon-purple" title="Close graph">fullscreen_exit</i>
                    </a>
                </span>
                <span  ng-if="eg.chartData.length === 1" class="custom-modal-button" >
                    <a name="share" href="javascript:void(0);" ng-click="eg.showFbDialog('chart_expanded_0',  eg.graphTitle)">
                      <i class="material-icons purple-icon share-icon-purple" title="Share on facebook">share</i>
                    </a>
                </span>
                <span  ng-if="eg.chartData.length === 1" class="custom-modal-button">
                    <owh-export-chart chart="'chart_expanded_0'", charttitle="eg.graphTitle | translate" chartdata=eg.chartData primaryFilters=eg.primaryFilters selectedfilterstxt=eg.selectedFiltersTxt/>
                </span>
            </div>
        </div>
        <div class="custom-modal-body usa-grid">

            <ul class="custom-nav custom-nav-tabs" ng-if="eg.chartTypes">
                <li ng-repeat="chartType in eg.chartTypes"
                    ng-class="{'active':eg.activeTab? eg.activeTab == eg.getChartName(chartType): $index==0}">
                    <a href="#" ng-click="eg.getYrbsChartData(chartType);"
                       ng-bind="eg.getChartName(chartType);">Expand Graph</a>
                </li>
                <li ng-if="eg.isBasicSearch && eg.showMap" ng-class="{'active': eg.activeTab === 'map'}"
                    ng-click="eg.activeTab = 'map'">
                    <a href="#" ng-click="eg.getMapData()">Map</a>
                </li>
            </ul>

            <div class="usa-grid">
                <div ng-if="eg.activeTab !== 'map'" class="usa-width-one-whole" ng-repeat="eachChartData in eg.chartData">
                    <div class="text-center margin-top-5" ng-if="eg.chartData.length > 1">
                        <span ng-bind="eachChartData.layout.title" class="graph-title"></span>
                        <a name="share" class="font-20 cursor-pointer" href="javascript:void(0);" ng-click="eg.showFbDialog('chart_expanded_'+$index, eachChartData.title, 'YRBS by', eg.graphTitle)">
                            &nbsp; Share on Facebook
                            <i class="material-icons" title="{{'label.share.on.fb' | translate}}">share</i>
                        </a>
                    </div>
                    <owh-toggle-switch ng-if="(eachChartData.charttype  !== 'pieChart' && eachChartData.charttype  !== 'lineChart' && eachChartData.charttype !== 'multiLineChart') && eachChartData.longtitle.indexOf('Rate') < 0" class="left-float chart-view-toggle"
                                       options="[ {key:'bar', title:'Grouped', tooltip:'Select to view grouped bars'},{key:'stack', title:'Stacked', tooltip:'Select to view stacked bars'}]"
                                       model="eg.barmode">
                    </owh-toggle-switch>
                    <plotly id="chart_expanded_{{$index}}" plotly-data="eachChartData.data" plotly-layout="eachChartData.layout" plotly-options=eachChartData.options barmode="eg.barmode" style="width: 95%; height: 95%; display: inline-block;horiz-align: center;"></plotly>
                </div>
                <div class="usa-width-one-whole" id="expanded_us_map" ng-if="eg.activeTab=='map'">
                    <div class="usa-grid">
                        <div class="usa-width-one-whole" style="padding-left: 30%;">
                            <label id="responselabel" for="responseSelector">Response:</label>
                            <select id="responseSelector" ng-model="eg.selectedResponse" ng-change="eg.getMapDataForResponse()">
                                <option ng-repeat="res in eg.primaryFilters.responses" value="{{res}}">{{res}}</option>
                            </select>
                        </div>
                        <br>
                    </div>
                    <leaflet id="expandedMap" lf-center="eg.primaryFilters.mapData.usa"
                             markers="eg.primaryFilters.mapData.markers" events="eg.primaryFilters.mapData.events"
                             geojson="eg.primaryFilters.mapData.geojson"
                             legend="eg.primaryFilters.mapData.legend" controls="eg.primaryFilters.mapData.controls"
                             defaults="eg.primaryFilters.mapData.defaults" tiles=""
                             height="500px" width="100%"></leaflet>
                </div>
            </div>
        </div>
        <div class="custom-modal-footer">
        </div>
    </div>
    <div id="fade"></div>
</div>