<div id="custom-modal">
    <div id="overlay">
        <div class="custom-modal-header">
                <span ng-class="{'small-model-title': eg.chartData.length > 1}" ng-bind=" eg.graphTitle| translate"></span>

            <div class="modal-header-actions">
                <span class="margin-right-10" ng-if="eg.chartData.length === 1">
                    <a name="share" class="cursor-pointer" ng-click="eg.showFbDialog('chart_expanded_0',  eg.graphTitle)">
                        <i class="material-icons" title="Share on facebook">share</i></a>
                </span>
                <span class="margin-right-10" ng-if="eg.chartData.length === 1">
                    <owh-export-chart chart="'chart_expanded_0'", charttitle="eg.graphTitle | translate"/>
                </span>
                <span class="margin-right-10" ng-if="eg.chartData.length > 1">
                    <a class="cursor-pointer" name="close" ng-click="eg.close()"><i class="material-icons" title="Close graph">close</i></a>
                </span>
                <span class="margin-right-10" ng-if="eg.chartData.length === 1">
                    <a name="close" class="cursor-pointer" ng-click="eg.close()"><i class="material-icons minimize" title="Minimize graph">fullscreen_exit</i></a>
                </span>

            </div>
                <!--<span style="float: right" ng-if="eg.chartData.length === 1"><a class="cursor-pointer" name="export" ng-click="eg.export('chart_expanded_0', eg.graphTitle | translate, 'PNG')"><span class="fa purple-icon fa-download" title="Export graph as PNG"></span></a></span>-->
            <div ng-bind="eg.graphSubTitle"></div>
        </div>
        <div class="custom-modal-body usa-grid">

            <ul class="custom-nav custom-nav-tabs" ng-show="eg.chartTypes.length>1">
                <li ng-repeat="chartType in eg.chartTypes"
                    ng-class="{'active':eg.activeTab? eg.activeTab == eg.getChartName(chartType): $index==0}">
                    <a href="#" ng-click="eg.getYrbsChartData(chartType);"
                       ng-bind="eg.getChartName(chartType);">Expand Graph</a>
                </li>
            </ul>

            <div class="usa-grid">
                <div class="usa-width-one-whole" ng-repeat="eachChartData in eg.chartData">
                    <div class="text-center margin-top-5" ng-if="eg.chartData.length > 1">
                        <span ng-bind="eachChartData.title | translate" class="graph-title"></span>
                        <a name="share" class="font-20 cursor-pointer" ng-click="eg.showFbDialog('chart_expanded_'+$index, eachChartData.title, 'YRBS by', eg.graphTitle)">
                            Share on Facebook<i class="material-icons" title="{{'label.share.on.fb' | translate}}">share</i>

                        </a>
                    </div>
                    <nvd3 id="chart_expanded_{{$index}}" options='eachChartData.options' data='eachChartData.data'></nvd3>
                </div>
            </div>
        </div>
        <div class="custom-modal-footer">
        </div>
    </div>
    <div id="fade"></div>
</div>