<div id="custom-modal">
    <div id="overlay">
        <div class="custom-modal-header">
            <div>
                <span ng-class="{'small-model-title': eg.chartData.length > 1}" ng-bind=" eg.graphTitle| translate"></span>
                <span style="float: right" ng-if="eg.chartData.length === 1">
                    <a name="close" href="javascript:void(0);" class="cursor-pointer" ng-click="eg.close()">
                        <i class="material-icons purple-icon fullscreen-exit-icon-purple" title="Share on facebook">fullscreen_exit</i>
                    </a>
                </span>
                <span style="float:right" class="margin-right-20" ng-if="eg.chartData.length === 1">
                    <a name="share" class="cursor-pointer" href="javascript:void(0);" ng-click="eg.showFbDialog('chart_expanded_0',  eg.graphTitle)">
                        &nbsp; <i class="material-icons purple-icon share-icon-purple" title="Share on facebook">share</i>
                    </a>
                </span>
                <span style="float: right" ng-if="eg.chartData.length === 1">
                    <owh-export-chart chart="'chart_expanded_0'", charttitle="eg.graphTitle | translate" chartdata=eg.chartData primaryFilters=eg.primaryFilters selectedfilterstxt=eg.selectedFiltersTxt/>
                </span>
                <!--<span style="float: right" ng-if="eg.chartData.length === 1"><a class="cursor-pointer" name="export" ng-click="eg.export('chart_expanded_0', eg.graphTitle | translate, 'PNG')"><span class="fa purple-icon fa-download" title="Export graph as PNG"></span></a></span>-->
            </div>
            <div ng-bind="eg.graphSubTitle"></div>
        </div>
        <div class="custom-modal-body usa-grid">

            <ul class="custom-nav custom-nav-tabs" ng-show="eg.chartTypes.length>1">
                <li ng-repeat="chartType in eg.chartTypes"
                    ng-class="{'active':eg.activeTab? eg.activeTab == eg.getChartName(chartType): $index==0}">
                    <a href="#" ng-click="eg.getYrbsChartData(chartType);"
                       ng-bind="eg.getChartName(chartType);">Expand Graph</a>
                </li>
            </ul>

            <div class="usa-grid">
                <div class="usa-width-one-whole" ng-repeat="eachChartData in eg.chartData">
                    <div class="text-center margin-top-5" ng-if="eg.chartData.length > 1">
                        <span ng-bind="eachChartData.layout.title" class="graph-title"></span>
                        <a name="share" class="font-20 cursor-pointer" href="javascript:void(0);" ng-click="eg.showFbDialog('chart_expanded_'+$index, eachChartData.title, 'YRBS by', eg.graphTitle)">
                            &nbsp; Share on Facebook
                            <i class="material-icons" title="{{'label.share.on.fb' | translate}}">share</i>
                        </a>
                    </div>
                    <owh-toggle-switch ng-if="eg.chartdata.charttype  !== 'lineChart' && eg.chartdata.charttype !== 'multiLineChart'" class="left-float chart-view-toggle"
                                       options="[ {key:'bar', title:'Grouped', tooltip:'Select to view grouped bars'},{key:'stack', title:'Stacked', tooltip:'Select to view stacked bars'}]"
                                       model="eg.barmode">
                    </owh-toggle-switch>
                    <br/><br/>
                    <plotly id="chart_expanded_{{$index}}" plotly-data="eachChartData.data" plotly-layout="eachChartData.layout" plotly-options=eachChartData.options barmode="eg.barmode"></plotly>
                </div>
            </div>
        </div>
        <div class="custom-modal-footer">
        </div>
    </div>
    <div id="fade"></div>
</div>