<section class="home-banner">
    <div class="hero-bg">
        <div class="hero-container">
            <div class="intro">
                <h1>Open Access <small>to</small> Health Data</h1>
                <p>
                    This interactive site makes available state and country wide health data so that researchers, students, policy makers, grant writers, etc. can fully explore the key issues and concerns of health.
                </p>
                <a ui-sref="search({queryID: null})" class="cursor-pointer usa-button-secondary" href="#">Explore the data<i class="material-icons arrow-forward-white">arrow_forward</i></a><a ui-sref="factsheets" class="cursor-pointer usa-button-outline"><i class="material-icons arrow-forward-white">library_books</i>Browse Snapshots</a>
            </div>
        </div>
    </div>
</section>
