<div class="usa-grid-full" style="width: 550px;">
    <div class="usa-width-one-whole">

        <div class="usa-width-one-whole marker-popup-header" ng-bind="properties.name"></div>
        <div ng-if="properties.sex">
            <div class="usa-width-one-whole margin-top-10">
                <div class="usa-width-two-thirds marker-label">Year(s)</div>
                <div class="usa-width-one-third marker-years">{{properties.years}}</div>
            </div>
            <div class="usa-width-one-whole margin-top-5" ng-repeat="eachCat in properties.sex">
                <div class="usa-width-two-thirds marker-label" ng-bind="eachCat.name | GenderTitle"></div>
                <div class="usa-width-one-third" ng-if="!properties.showRates">
                    <span ng-if="eachCat.deaths !== 'suppressed' && ['crude_death_rates', 'age-adjusted_death_rates', 'crude_cancer_incidence_rates', 'crude_cancer_death_rates'].indexOf(properties.tableView) !== -1"
                          ng-bind="eachCat.rate"></span>
                    <span ng-if="eachCat.deaths !== 'suppressed' && ['crude_death_rates', 'age-adjusted_death_rates', 'crude_cancer_incidence_rates', 'crude_cancer_death_rates'].indexOf(properties.tableView) === -1"
                          ng-bind="eachCat[key] | number"></span>
                    <span ng-if="eachCat[key] === 'suppressed'">Suppressed</span>
                    <span ng-if="!eachCat[key] || eachCat[key] == 'na'"
                          ng-bind="'label.not.available' | translate"></span>
                </div>
                <div class="usa-width-one-third" ng-if="properties.showRates">
                    <span ng-if="eachCat.rate && eachCat.rate !== 'suppressed'" ng-bind="eachCat.rate"></span>
                    <span ng-if="eachCat.rate === 'suppressed'">Suppressed</span>
                    <span ng-if="!eachCat.rate" ng-bind="'label.not.available' | translate"></span>
                </div>
            </div>
            <div class="usa-width-one-whole margin-top-5 padding-top-5 border-top-default padding-bottom-10" ng-if="!properties.showRates">
                <div class="usa-width-two-thirds marker-label">
                    <span ng-bind="totalLabel"></span>
                </div>
                <div class="usa-width-one-third" ng-if="properties.tableView === 'number_of_deaths'">
                    <span ng-if="properties[properties.tableView] === 'suppressed'">Suppressed</span>
                    <span ng-if="properties[properties.tableView] !== 'suppressed'">{{properties.deaths | number}}</span>
                </div>
                <div class="usa-width-one-third" ng-if="['crude_death_rates', 'age-adjusted_death_rates', 'crude_cancer_incidence_rates', 'crude_cancer_death_rates'].indexOf(properties.tableView) !== -1">
                    <span ng-if="properties.rate === 'suppressed'">Suppressed</span>
                    <span ng-if="properties.rate === 'n/a'">Not Avaliable</span>
                    <span ng-if="properties.rate !== 'suppressed' && !isNaN(properties.rate)">{{properties.rate | number}}</span>
                </div>
                <div class="usa-width-one-third" ng-if="properties.tableView !== 'number_of_deaths' && ['crude_death_rates', 'age-adjusted_death_rates', 'crude_cancer_incidence_rates', 'crude_cancer_death_rates'].indexOf(properties.tableView) === -1">
                    <span ng-if="properties[properties.tableView] === 'suppressed'">Suppressed</span>
                    <span ng-if="properties[properties.tableView] === 'n/a'">Not Avaliable</span>
                    <span ng-if="properties[properties.tableView] !== 'suppressed'">{{properties[properties.tableView] | number}}</span>
                </div>
            </div>
        </div>
        <div ng-if="!properties.sex">
            <span ng-bind="'label.data.not.available' | translate"></span>
        </div>
    </div>
</div>
