<div id="custom-modal">
    <div id="overlay" class="small">
        <div class="usa-grid usa-width-one-whole">
            <a class="right-float margin-right-20 margin-top-10" href="javascript:void(0)" ng-click="pt.close()" id="modal-close"><i class="material-icons close-icon-purple">close</i></a>
            <span class="margin-left-20 margin-top-10" style="font-size: 25px;" ng-bind="'label.next.impl' | translate"></span>
        </div>
        <div class="custom-modal-body usa-grid">
            <div class="usa-width-one-whole">
                <div class="usa-width-one-whole margin-top-20" ng-bind=" pt.message | translate"></div>
            </div>
        </div>
        <div class="custom-modal-footer">
        </div>
    </div>
    <div id="fade"></div>
</div>