<div class="usa-grid-full header-bar">
    <div class="sp-header">
        <div class="logo-container cursor-pointer">
            <a ui-sref="home"><img class="owh-logo" ui-sref="home" src="../images/owh-logo.png" alt="OWH logo" height="60"/></a>
            <div class="logo-divider"></div>
            <a ui-sref="home"><img class="hig-logo" ui-sref="home" src="../images/hig-logo.svg" alt="HIG Logo" /></a>
        </div>
        <ul class="menu-nav">
            <li class="banner-link cursor-pointer">
                <a id="home" ui-sref="home" ng-class="{active:$root.$state.current.name === 'home'}"><i class="material-icons margin-right-10 home-icon">home</i>Home</a>
            </li>
            <li class="banner-link cursor-pointer">
                <a href="javascript:void(0);" ng-click="redirectToMortalityPage()" id="explore"
                   ng-class="{active:$root.$state.current.name === 'search'}"><i class="material-icons margin-right-10 explore-icon">explore</i>Explore</a>
            </li>
            <li class="banner-link cursor-pointer">
                <a href="javascript:void(0);" ui-sref="factsheets({queryID: undefined})" id="factsheet"
                   ng-class="{active:$root.$state.current.name === 'factsheets'}">
                    <i class="material-icons margin-right-10 description-icon">description</i>Snapshots</a>
            </li>
            <!--<li class="banner-link cursor-pointer">
                <a id="about" class=""><i class="material-icons margin-right-10">information</i>About</a>
            </li>
            <li class="banner-link cursor-pointer">
                <a id="help" class=""><i class="material-icons margin-right-10">help_circle</i>Help</a>
            </li> -->
         </ul>
    </div>
</div>
