<div class="usa-grid-full">
    <div class="no-padding usa-width-one-whole sp-header">
        <div class="usa-width-one-sixth sp-icon-div cursor-pointer">
            <img ui-sref="home" src="../images/owh-logo-white.svg" alt="owh_white_logo" height="60" width="200"/>
        </div>
        <div class="usa-width-one-third cursor-pointer ng-enter-active">
            <img ui-sref="home" src="../images/hig-logo-white.svg" alt="HIG Logo" height="60" width="300"/>
        </div>
        <div class="pull-right">
        <div class="banner-link cursor-pointer pull-left">
            <a id="home" class="home-link margin-left-10 margin-right-20"><i class="fa fa-home margin-right-10"></i>Home</a>
        </div>
            <div class="banner-link dropdown cursor-pointer pull-left">
                    <a id="explore" class="home-link margin-left-20 margin-right-20" ng-click="myFunction();"><i class="fa fa-compass margin-right-10"></i>Explore</a>
            </div>
        <div class="banner-link cursor-pointer pull-left">
            <a id="about" class="home-link margin-left-20 margin-right-20"><i class="fa fa-info margin-right-10"></i>About</a>
        </div>
        <div class="banner-link cursor-pointer pull-left">
            <a id="help" class="home-link margin-left-10 margin-right-20"><i class="fa fa-question-circle-o margin-right-10"></i>Help</a>
        </div>

    </div>
</div>
</div>