logs/*
!.gitkeep
node_modules/
bower_components/
coverage/
jshint-report/
test_out/
tmp
.DS_Store
.idea
*.pyc
Web.config
*.sln
*.njsproj
.vs
/software/owh/.owh
/software/.vs
/software/owh/bin
/software/owh/obj
_Chutzpah.*.test.html
npm-debug.log
