<div class="usa-grid">
    <ng-include src="'app/partials/disclaimer.html'"></ng-include>
    <ng-include src="'app/partials/topBanner.html'"></ng-include>
</div>

<div class="data-sets" style="padding: 30px;">
    <div class="usa-grid" ng-init="dataset = dc.getDataSetDetails()">
        <div class="usa-width-three-fourths intro">
            <div class="thin-border-bottom">
                <img ng-src="{{'../images/icons/'+ dataset.image}}" alt="{{dataset.title}}"
                     height="80"/>
                <span class="font-20 dark-purple-text" ng-bind="dataset.title"></span>
            </div>
            <h4 class="dark-purple-text">About This Dataset</h4>
            <div ng-bind="dataset.dataDescription"></div>
            <div ng-if="dataset.suppression">
                <h5>Data Suppression:</h5>
                <div ng-bind-html="dataset.suppression"></div>
            </div>
            <hr>
            <h4 class="dark-purple-text">Filtering Options ({{dataset.filters.length}})</h4><br>
            <div class="thin-border-bottom usa-width-one-whole padding-bottom-10">
                <div class="usa-width-one-fourth">
                    <b>Filter</b>
                </div>
                <div class="usa-width-three-fourths">
                    <b>Description</b>
                </div>
            </div>
            <div ng-repeat="filter in dataset.filters"
                 class="thin-border-bottom usa-width-one-whole padding-top-10 padding-bottom-10">
                <div class="usa-width-one-fourth" ng-bind="filter.name"></div>
                <div class="usa-width-three-fourths" ng-bind="filter.description"></div>
            </div>
        </div>
        <div class="usa-width-one-fourth">
            <a ui-sref="search" class="explore-dataset-btn"
               href="#">EXPLORE DATASET<i class="material-icons">arrow_forward</i> </a>
            <hr>
            <span class="bold-class">Years Available: </span> {{dataset.yrsAvail}}
            <hr>
            <span class="bold-class">Source(s): </span><span ng-bind-html="dataset.source"></span>
            <hr>
            <span class="bold-class">Topics: </span>{{dataset.topics}}
            <hr>
            <a class="description-text">How Rates Are Calculated ></a>
        </div>
    </div>
</div>


<owh-footer></owh-footer>