/*Ben's custom styles*/


html {
	font-size: 9px;
}


body {
	font-size: 1.6rem;
	font-family: 'Roboto', Sans-serif;
	font-weight:300;
	background: #f3f4f4;
}






*:active {
	box-shadow: none !important;
}
html, body {
	height:100%;
}


h1, h2, h3, h4, h5, h6 {
	font-family:'Montserrat', Sans-serif;
	letter-spacing: 0.5px;
}

.usa-button, .usa-button-primary, .usa-button:visited, .usa-button-primary:visited, button, [type="button"], [type="submit"], [type="reset"], [type="image"] {
	font-family:'Roboto', Sans-serif;
}


.header-bar {
	z-index: 1;
	position: relative;
}


.home-banner {
	height: 400px;
}
.hero-bg {
	background-position: center -100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-image: url('/../images/hero-bg.png');
	position: relative;
}

.hero-bg:after {
	content: '';
	background: linear-gradient(45deg, #ac6aa3 0%, #57cbf5 100%);
	opacity: 1;
	position: absolute;
	top:0;
	left:0;
	right:0;
	height: 100%;
	width:100%;
	mix-blend-mode: overlay;
}

.hero-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	padding: 50px;
}

.intro {
	padding: 30px;
	border-radius: 8px;
	background: rgba(255,255,255, .9);
	box-shadow: 0 8px 20px rgba(0, 0, 0, .3);
	z-index: 1;
	position: relative;
	width: 100%;
}

.content-container {
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
	padding: 20px 40px 40px;
	background: white;
}

.content-wrapper {
	min-height:650px;
}

.sidebar-wrapper {
	/*height: auto !important;*/
	min-height: 100vh;
}

.show-link {
	display: inline-block;
	margin-top: 20px;
}

.show-link i {
	vertical-align: -7px;
}

.content-container.scroll-box-wrapper .scroll-box {
	padding:0 20px;

}

.sidebar-right {
	left: auto !important;
	right: -10px !important;
}



h1.dataset-name {
	font-size: 24px;
	display: inline-block;
}

@media(min-width: 1201px) {
	.intro {
		width: 50%;
	}

}

@media(max-width: 1201px) and (min-width: 600px) {

	.intro {
		width: 66%;
	}
}

@media(max-width: 1201px) {
	.hero-bg {
		background-position: center 100px;
	}
}

.intro h1 {
	margin: 0 0 20px 0;
	font-size: 24px;
	color: #431a64;
}

.intro h1 small {
	font-weight: normal;
}
.explore-dataset-btn{
	color: #FFFFFF !important;
}

.export-links {
	color: #ccc;
}

.export-links a {
	color: #333;
	font-size:13px;
	padding: 2px 10px;
	display: inline-block;
}

.export-links a:hover {
	color:#2381ca;
}
.export-links img {
	width: 24px;
	margin-right: 10px;
	vertical-align: -9px;
}

.selected-filters {
	padding: 12px 20px 10px;
	border-bottom: 1px solid #ccc;
	min-height: 51px;
	/*max-height: 76px;*/
	/*overflow: hidden;*/
	/*overflow-y: auto;*/
}


.intro .usa-button-secondary, .explore-dataset-btn, .usa-button-outline, .fact-sheet-generator .usa-button-secondary {
	/*background: #009ddd;*/
	background: #2381ca;
	padding: 10px 22px 10px 30px;
	border-radius: 100px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	display: inline-block;
	font-family: 'Montserrat', Sans-serif;
	letter-spacing: 1px;
	font-size:0.9em;
}

.intro .usa-button-secondary {
	margin-right:8px;
	margin-bottom: 10px;
}

.intro .usa-button-secondary i, .explore-dataset-btn i, .usa-button-outline i, .fact-sheet-generator .usa-button-secondary i {
	vertical-align: -7px;
	transition: all 0.2s linear;
	margin-left: 10px;
}
.usa-button-outline {
	background: transparent;
	box-shadow: inset 0 0 0 2px #974bc2;
	color: #974bc2;
	padding:10px 30px 10px 22px;
	transition: all .05s linear;
}

.usa-button-outline:hover {
	background: #974bc2;
	color: white;
}

.usa-button-outline:focus {
	box-shadow: inset 0 0 0 2px #974bc2;
}

.usa-button-outline i {
	margin: 0 10px 0 0;
}
.intro .usa-button-secondary:hover, .fact-sheet-generator .usa-button-secondary:hover,
.explore-dataset-btn:hover, .explore-dataset-btn:focus {
	background: #974bc2;
}
.intro .usa-button-secondary:hover i , .explore-dataset-btn:hover i, .fact-sheet-generator .usa-button-secondary:hover i {
	transform: translateX(5px);
}


a, button {
	text-decoration: none !important;
	transition: all 0.2s linear;
	font-weight: bold;
}

a, a:visited {
	color: #974bc2;
}

a:hover {
	color: #2381ca;
}

*:focus, .intro .usa-button-secondary:focus {
	outline: 0 !important;
	box-shadow: none !important;

}



input, input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="tel"], input[type="number"], input[type="search"], input[type="file"], input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea, select {
	font-size: inherit;
}

.intro .usa-button-secondary:focus {
	border: none;

}

/*.dark-link {
    color:#484a4b;
}*/

.usa-grid {
	padding: 0;
}


.icon-container {
	margin-top: 20px;
}

.qh-box {
	border-radius: 15px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 40px;
	background-color: rgba(0,0,0,0.4);
	padding: 40px 40px 40px 40px;
}
.qh-small-header, .qh-large-header {
	font-family: 'Montserrat', Sans-serif;
}
.qh-small-header {
	color: rgba(255,255,255,0.6);
	line-height: 20px;
	margin-bottom: 5px;
	animation: 1s .5s fade backwards ease-out;
}
.qh-large-header {
	margin-bottom: 15px;
	line-height: 3.3rem;
	animation: 1s .75s fade backwards ease-out;
}
@-webkit-keyframes fade {
	from {
		transform:translateY(.35em);
		opacity:0
	}
}
@keyframes fade {
	from {
		transform:translateY(.35em);
		opacity:0
	}
}
.section {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	margin-bottom: 20px;
	background: white;
	overflow: hidden;
}

.section .section-banner {
	padding: 20px;
	text-align: center;
}

.section .section-banner-description {
	padding: 20px 45px 15px 20px;
	position: relative;
	transition: all 0.2s linear;
}

.section .section-banner-description:hover .description-text {
	color: #9958a3;

}

.section .section-banner-description:hover {
	background: #f0f9fd;
}

.section .section-banner-description:focus {
	background: #f0f9fd;
}

.section .section-banner-description i {
	position: absolute;
	right:15px;
	transition: all 0.2s linear;
	top: 50%;
	transform:translateY(-50%) scale(1.3);
	/*color: #00adef;*/
	color: #0071b9;
}
.section .section-banner-description:hover i {
	transform: translateX(5px) translateY(-50%) scale(1.3);
	color: #9958a3;
}
.qh-para {
	color: #fff;
	margin-bottom: 15px;
}
button {
	cursor: pointer;
	font-family: 'Montserrat', Sans-serif;
}
.row-general-health.data-boxes-container {
	text-align: center;

}

.row-general-health.data-boxes-container .section {
	float: none;
	display: inline-block;
	vertical-align: top;
}

@media screen and (min-width: 1170px) {
	.usa-width-one-whole.qh-header .usa-width-one-half.qh-box {
		width: 40%;
	}
}

.qh-header, .usa-width-one-whole.qh-section, .sp-header {
	transform-style: inherit;
	position: relative;
	background-color: transparent;
	background-repeat:no-repeat;
}
.qh-header, .qh-header:before, .sp-header, .sp-header:before, .usa-width-one-whole.qh-section:before {
	background-position: 75% 50%;
	background-size: cover;

}
.qh-header:before {
	content: "";
	position: absolute;
	top: -25%;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(/../images/hero-bg.png);/*	-ms-transform: translateZ(-1px) translateY(-7%) scale(2);
    /*-webkit-transform: translateZ(-1px) translateY(-7%) scale(2);
    -moz-transform: translateZ(-1px) translateY(-7%) scale(2);
    -o-transform: translateZ(-1px) translateY(-7%) scale(2);
    transform: translateZ(-1px) translateY(-7%) scale(2);
	*/z-index: -1;
}
.qh-header:before {
	animation: 7s .5s zoom backwards ease-in-out;
	transform:scale(1.15);

}

.data-sets {
	background: #f3f4f4;
	z-index: 1;
	position: relative;
	padding: 0 30px;
}

@-webkit-keyframes zoom {
	from {
		transform:scale(1.3);

	}
}
@keyframes zoom {
	from {
		transform:scale(1.3);

	}
}



.sp-header, .qh-header {
	overflow: hidden;
}
.sp-header, .sp-footer {
	/*background-image: linear-gradient(135deg, #402665 0%, #582c83 25%, #402665 100%);*/
	background: #fff;
	display: flex;
	align-items:center;
	padding: 0;
	box-shadow:0 -1px 0 #ccc inset, 0 10px 20px rgba(0,0,0,0.3);
}

.sp-footer {
	background: #683b94;
	box-shadow: none;
}

.logo-container {
	display: flex;
	align-items: center;
	transition: all 0.2s linear;
}

.logo-container:hover {
	opacity:.7;
}

.logo-container img {
	padding: 10px 20px;
}

.logo-divider {
	background: #ccc;
	width: 1px;
	height: 35px;
}

.owh-logo {
	width: 130px;
}
.hig-logo {
	width:335px;
}



.sp-header .menu-nav a {
	color: #2381ca;
	padding: 25px;
	display: flex;
	align-items: center;
	position: relative;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.9em;
	font-family:'Montserrat', Sans-serif;
}
.sp-header .menu-nav a.active:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 25px;
	right: 20px;
	width: auto;
	height: 5px;
	background: #cd96ec;

}

.sp-header .menu-nav a .material-icons {
	width: 24px;
}

.sp-header .menu-nav a:hover, .sp-header .menu-nav a.active, .sp-header .menu-nav a.active:hover {
	/*background: rgba(255,255,255,0.1);*/
	color: #6f399a;
}

.menu-nav {
	flex-grow:1;
	justify-content: flex-end;
	display: flex;
	align-items: center;
	margin:0;
}

.menu-nav li {
	margin: 0;
	display: flex;
}

.menu-nav li:before {
	display: none;
}

.usa-disclaimer {
	font-size: 1.2rem;
	color: #666;
	font-weight: 400;
	position: relative;
	z-index: 2;
}
.footer-sign-up-button {
	background-color: #00aeef !important;
	font-size: 18px !important;
	border-radius: 0 4px 4px 0;
}
.usa-flag_icon {
	margin-right: .3rem;
	vertical-align: -2px;
}
.flex-container {
	display: flex !important;
}
.flex-grow {
	flex-grow: 1;
}

.flex-align-center {
	align-items: stretch;
}


.doc-link {
	border-bottom: 1px solid #ccc;
	min-width: 185px;
}

.doc-link a, .arrow-link {
	display: flex;
	padding: 11px;
	font-weight: bold;
	align-items: center;
}

.doc-link a i, .arrow-link i {
	font-size:28px;
}



.qh-section .padding-left-30 {
	padding-left: 0;
}
.qh-section p {
	position: relative;
	padding-left: 30px;
}
.qh-section p i {
	position: absolute;
	opacity: 0.6;
	left: 0;
	font-size: 24px;
	top: 0;
}


.alt-filter {
	position: relative;
}

@media (min-width: 1201px) {
.alt-filter:after {
	position: absolute;
	content: '';
	right: 40px;
	top: 0;
	width: 60px;
	height: 60px;
	background: -moz-linear-gradient(left, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 92%, rgba(248,248,248,1) 100%);
	background: -webkit-linear-gradient(left, rgba(248,248,248,0) 0%,rgba(248,248,248,1) 92%,rgba(248,248,248,1) 100%);
	background: linear-gradient(to right, rgba(248,248,248,0) 0%,rgba(248,248,248,1) 92%,rgba(248,248,248,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8f8', endColorstr='#f8f8f8',GradientType=1 );
	pointer-events: none;
}
}

.refresh {
	border-left:1px solid #ccc;
	display: flex;
	align-items: center;
	transition: all 0.2s linear;
}

.refresh:hover {
	background: #faf3fb;
}
.refresh:focus {
	box-shadow: inset 0 0 0 2px #8c56b7 !important
}


.refresh i {
	cursor: pointer;
	color: #888;
	font-size:28px;
	padding:10px;
	transform: rotateY(180deg);
	transition: all 0.2s linear;
}
.refresh:hover i {
	color: #915dc3;
}

hr.ng-scope {
	display: none;
}
.qh-button, .qh-button:hover, .qh-button:focus, .qh-button:active {
	color: #8956A3;
	background: white;
	border-radius: 4px;
	text-transform: uppercase;
	padding: 6px 20px 8px;
	cursor: pointer;
}
.qh-button i, .dashboard-explore-links i, .view-all-link .custom-link i {
	position: relative;
	transition: all 0.2s linear;
	right: 0;
	color: lightskyblue;
}
.qh-button:hover i, .dashboard-explore-links:hover i {
	right: -4px;
}
.qh-button i.fa.fa-angle-right {
	font-size: 24px;
	vertical-align: -2px;
	margin-left: -5px;
}
.view-all-link .custom-link i.fa-angle-right {
	bottom: 4px;
}
.view-all-link .custom-link:hover i.fa-angle-right {
	bottom: 0;
}
.view-all-link .custom-link i.fa-angle-left {
	top: 4px;
}
.view-all-link .custom-link:hover i.fa-angle-left {
	top: 0;
}
.category-header {
	color: #663596;
	font-size: 2.2rem;
	margin-bottom: 20px;
}
.leaflet-right .leaflet-control {
	float: none;
	background: white;
	padding: 4px;
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 28px;
}
.usa-width-one-half.footer-header h2 {
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 5.2rem;
}
.view-all-link {
	text-align: center;
}
.view-all-link i {
	display: block;
	margin-left: 0
}
.view-all-link i.fa-angle-right, .view-all-link i.fa-angle-left {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}
.social-media-icon .fa-3x {
	padding-right: 10px;
	font-size: 32px !important;
}
.usa-width-one-half.footer-sign-up input#search-field-big {
	border-color: #ccc;
	border-radius: 4px 0 0 4px;
}
.usa-width-one-whole.section-banner-description {
	font-size: 1.6rem;
	color: #333;
	text-align: left;
}
a.custom-link i {
	font-size: 24px;
	vertical-align: -2px;
	margin-left: 6px;
}
.background-light-gray {
	padding: 10px 0 0 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #f7f7f7;
}
.usa-width-one-whole.view-all-link {
	padding-bottom: 10px;
}
h4.section-banner-title, .section-banner a.custom-link {
	position: relative;
	z-index: 1;
	color: #833eb0;
}

.description-text {
	/*color:#009ddd;*/
	color:#2381ca;
	font-size:16px;
	font-weight:bold;
	transition: all 0.2s linear;
	margin-bottom: 10px;
	line-height: 20px;
}

h4.section-banner-title {
	font-size: 2rem;
}

.health-related-section-banner {
	background-image: url(../images/custom/health-related.jpg);
}
.youth-related-section-banner {
	background-image: url(../images/custom/youth-related.jpg);
}
.housing-related-section-banner {
	background-image: url(../images/custom/housing-related.jpg);
}
.family-related-section-banner {
	background-image: url(../images/custom/family-related.jpg);
}
.health-related-section-banner:after, .youth-related-section-banner:after, .housing-related-section-banner:after, .family-related-section-banner:after {
	background: #5c2d83;
}
.women-health-mortality-section-banner {
	background-image: url(../images/custom/smoking.jpg);
}
.general-health-mortality-section-banner {
	background-image: url(../images/custom/mortality.jpg);
}
.womens-health-stds-section-banner {
	background-image: url(../images/custom/men-vs-women.jpg);
}
.infant-mortality-section-banner {
	background-image: url(../images/custom/baby.jpg);
}
.birth-section-banner {
	background-image: url(../images/custom/birth.jpg);
}
.womens-health .section-banner:after {
	background: #5c2d83;
}
.race-and-origin-section-banner {
	background-image: url(../images/custom/ethnicity.jpg);
}
.population-growth-section-banner {
	background-image: url(../images/custom/population-growth.jpg);
}
.housing-section-banner {
	background-image: url(../images/custom/housing.jpg);
}
.family-growth-section-banner {
	background-image: url(../images/custom/family-growth.jpg);
}
.aids-section-banner {
	background-image: url(../images/custom/HIV.jpg);
}
.cancer-section-banner {
	background-image: url(../images/custom/cancer.jpg);
}
.tb-section-banner {
	background-image: url(../images/custom/lungs.jpg);
}
.stds-disease-section-banner {
	background-image: url(../images/custom/sexual-health.jpg);
}
.cron-condition-section-banner {
	background-image: url(../images/custom/chronic-condition.jpg);
	background-position: 50% 75%;
}
.population-section-banner {
	background-image: url(../images/custom/usa-at-night.jpg);
}
.education-section-banner {
	background-image: url(../images/custom/education.jpg);
}
.income-and-poverty-section-banner {
	background-image: url(../images/custom/poverty.jpg);
}
.economy-section-banner {
	background-image: url(../images/custom/generic-money.jpg);
}
.transportation-section-banner {
	background-image: url(../images/custom/transportation.jpg);
}
.family-and-living-section-banner {
	background-image: url(../images/custom/housing-related.jpg);
	padding-top: 13%;
}
.general-health .section-banner:after {
	background: #00aeef;
}
.general-health h4.category-header, .general-health .view-all-link .custom-link {
	color: #00aeef;
}
.behavioral-risk h4.category-header, .behavioral-risk .view-all-link .custom-link {
	color: #0071bc;
}
.diseases h4.category-header, .diseases .view-all-link {
	color: #e05c13;
}
.diseases .section-banner:after {
	/*background: #e05c13*/
}
.womens-health h4.category-header, .womens-health .view-all-link .custom-link {
	color: #663596;
}
.census .section-banner:after {
	background: #01a38e;
}
.census h4.category-header, .census .view-all-link .custom-link {
	color: #01a38e;
}

.data-boxes-container .section {
	margin-bottom: 30px;
}

.home-child-header {
	margin: 0;
	background-image: url(../images/custom/purple-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0 2%;
}
.spotlight-header {
	font-family: 'Montserrat', Sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
}
.home-child-heading {
	margin-top: 48px;
}
.home-child-heading i {
	margin-top: -38px;
	display: block;
	opacity: 0.6;
}
.home-child-heading > div {
	width: auto;
}
.footer-h4 {
	line-height: 2em
}

.footer a {
	color: #fff;
	opacity: .6;
}

.footer a:hover {
	opacity:1;
}
.footer-sign-up-button:hover {
	background: #974bc2 !important
}

.footer ul > li > a {
	display: block;
	padding: 5px 20px;
	font-size: 14px;
	line-height: 15px;
}

@media(max-width: 1201px) {
	.footer ul > li > a {
		padding: 5px 10px;
	}
}


.usa-sidenav-list li.accordion {
	border: 1px solid #ccc;
	background: white;
	border-radius: 4px;
}
input[type="text"] {
	border-color: #ccc;
	border-radius: 4px;
}
ul.usa-unstyled-list.group-options {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
ul.usa-unstyled-list.group-options li.group-option.more-options {
	text-align: center;
	border-top: 1px solid #ccc;
	margin: 0 -1px;
	color: #2381ca;
	font-weight: bold;
}
ul.usa-unstyled-list.group-options li.group-option.more-options > a {
	font-family: 'Montserrat', Sans-serif;
	display: block;
	font-size: 13px;
	border-radius: 0 0 4px 4px;
	margin: 0 1px;
	font-weight: normal;
}

.usa-sidenav-list .toggle-filter-link  a {
	font-family: 'Montserrat', Sans-serif;
	font-size: 13px;
	font-weight:normal;
}
ul.usa-unstyled-list.group-options li.group-option.more-options > a:hover {
	background: #f8f8f8;
}
input[type="checkbox"]+label::before, input[type="radio"]+label::before {
	vertical-align: 1px;
}
input[type="checkbox"]:checked+label::before, input[type="radio"]:checked+label::before {
	background-color: #2381ca;
	box-shadow: 0 0 0 3px #2381ca;
	vertical-align: 1px;
}
input[type="checkbox"]+label::before {
	border-radius: 0.2rem;
	box-shadow: 0 0 0 1px #aaa;
}
input[type="radio"]+label::before {
	border-radius: 100%;
}
div.side-pane-div.custom-div {
	padding:5px;
}

.clear-filters {
	display: inline-block;
	font-size: 14px;
	font-weight:bold;
	color: #d73d32;
	cursor: pointer;
	margin-left: 10px;
	transition: all 0.2s linear;
}
.clear-filters i {
	vertical-align: -7px;
	opacity: .5;
	margin-right: 5px;
}

.clear-filters:hover {
	color: #B3040B;
}

div.side-pane-div.custom-div a.custom-link i {
	font-size: 28px;
	vertical-align: -8px;
	margin:0;
	color: #999;
	width: 24px;
	transition: all 0.2s linear;
}

div.side-pane-div.custom-div a.custom-link i.open {
	transform: rotate(90deg) translateX(-2px);
}
div.side-pane-div.custom-div i {
	font-size: 16px;
	vertical-align: -1px;
	margin-left: 3px;
	margin-right: 5px;
	color: #999;
	width: 20px;
}
.sidebar-chevron {
	width: 24px;
	color: #858585;
	display: inline-block;
	text-align: center;
}
.sidebar-filter-label {
	display: flex;
}
.sidebar-filter-label .custom-link {
	padding-left: 0 !important;
	flex-grow: 1;
	letter-spacing: .5px;
}
.sidebar-filter-label .custom-link:hover {
	color: #974bc2;
}
.sidebar-switch {
	margin: 5px 0px 0 0;
}

.usa-width-one-whole.bottom-pane.flex-container {
	float: none;
}

select {
	background-image: url(../images/arrow-down.svg);
	background-size: 3rem;
	border-radius: 5px;
	border-color: #ccc;
}


.owh-search-content-tabs {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
	overflow-x: auto;
	border-bottom: 1px solid #ccc;
	background: white;
	z-index: 1;
	margin: -20px;
}

.owh-search-content-tabs .menu-tab {
	text-align: center;
	margin: 0;
	display: flex;
	align-items: center;
}

.owh-search-content-tabs .menu-tab.active .link {
	color: #974bc2;
	box-shadow: inset 0 -5px 0 #974bc2;
}

.owh-search-content-tabs .menu-tab .link {
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.2s linear;
	padding: 10px 20px;
	font-size: 14px;
	color: #888;
}

.owh-search-content-tabs .menu-tab .link:hover {
	color: #974bc2;
}
owh-toggle-switch a {
	font-weight:normal;
}
owh-toggle-switch a.active-link {
	border: 1px solid #ccc;
	margin-top: 2px;
	color: #444;
}
input[type="radio"]:checked+label::before {
	background-image: url(../images/custom/white-bullet.svg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 50%;
}
owh-toggle-switch a.active-link:hover {
	border-color: #ccc;
}



owh-toggle-switch a.active-link:nth-child(2) {
	border-right: none;
	border-left: none;
}

owh-toggle-switch a.active-link:first-of-type {
	border-radius: 3px 0 0 3px;
}
owh-toggle-switch a.active-link:last-of-type {
	border-radius: 0 3px 3px 0;
}


owh-toggle-switch a.active-link:last-of-type {
	border-radius: 0 3px 3px 0;
	border-right: 1px solid #ccc;
}
owh-toggle-switch a.active-link.selected, owh-toggle-switch a.active-link.selected:hover {
	color: #333;
	background-color: #ccedfd;
	border-color: #ccc;
}
ul.usa-unstyled-list.group-options li.group-option {
	margin-left: 10px;
	margin-bottom: 10px;
}
ul.usa-unstyled-list.group-options li.group-option:last-child {
	margin-bottom: 10px;
}
ul.usa-unstyled-list.group-options li.group-option.more-options {
	margin-bottom: 0px;
	margin-top: 10px;
}
label.custom-label {
	margin-bottom: 0 !important;
	line-height:15px;
	display: flex;
}
div.custom-div {
	margin-bottom: 0 !important
}

input[type="checkbox"]+label::before, input[type="radio"]+label::before {
	margin-top: 2px;
}

.usa-sidenav-list.side-filters li .inline-bar {
	/*background: none;*/
	/*border: none;*/
}
.sp-header-title {
	font-size: 24px;
	font-family: 'Montserrat', Sans-serif;
	line-height: 60px;
}
.usa-width-one-whole.margin-top-30.margin-bottom-30 {
	margin: 20px 0
}
select.gray-border {
	border-radius: 4px;
	margin-top: 0;
	padding: 9px;
	box-shadow: none !important;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
	background: #8c56b7;
	padding-left: 12px;
	color: white;
	margin-bottom: 0;
	padding: 8px;
	font-weight: bold;
	box-shadow: none;
	vertical-align: inherit;
	border-radius: 4px
}
.ui-select-multiple.ui-select-bootstrap {
	padding: 3px 4px 2px 4px;
	box-shadow: none;
	margin: 7px 0px;
}
.grey-text {
	color: #696969;
}

.toggle-filter-link {
	text-align: center;
	border-bottom: 1px solid #ccc;
	color:#974bc2;
}

.ui-select-bootstrap input.ui-select-search {
	margin-top: 3px;
	padding: 5px;
	margin-bottom: 0;
	box-shadow: none !important;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
	color: white;
	text-shadow: none;
	margin-right: 3px;
	margin-left: 3px;
	line-height: 0.55;
}
.ui-select-bootstrap .dropdown-header {
	color: #aaa;
	font-size: 14px;
	text-decoration: none;
	font-variant: normal;
	text-transform: uppercase;
	font-weight: bold;
}
.ui-select-bootstrap.open > .dropdown-menu {
	display: block;
	padding: 0;
	margin: 0;
}
.interested-text, .usa-width-one-third.margin-right-0 > .usa-width-one-whole > .usa-width-one-twelfth, .show-me-text {
	font-size: 14px;
	padding-top: 14px !important;
}
.show-me-text {
	width: auto !important;
	margin-right: 8px !important;
}
.ui-select-bootstrap .ui-select-choices-row.active>a {
	background-color: #8c56b7;
}
.graph-box {
	padding: 10px;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	border-radius: 6px;
}
.graph-title {
	font-size: 16px;
	font-family: 'Montserrat', Sans-serif;
	color: #333;
	display: block;
	text-align: left;
}
.border-top-default, .border-right-default {
	border-color: #ccc;
}
.graph-box .card-header {
	position: relative;

}
.graph-box .card-header h4 {
	margin: 15px 10px;
}
.graph-box .card-header .card-actions {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #888;
	display: inline-block;
	cursor: pointer;
	right: 0;
}

.graph-box .card-header .card-actions a {
	color: #888;
}
.graph-box .card-header .card-actions a:hover {
	color: #974bc2
}
.graph-box .card-header .card-actions a i {
	font-size: 28px;
}

.graph-box .card-header .card-actions a.expand-graph i {
	font-size: 34px;
	top: 3px;
	position: relative;
}

.purple-icon {
	color: #974bc2;
}
.graph-box .text-center.margin-top-5 a:first-of-type {
	right: 35px;
	top: -6px;
}


.clusterize {
	overflow: hidden;
	overflow-x: auto;
	min-width: 100%;
	border: 1px solid #ddd;
}

.table-container {
	width: 100%;
	margin: 2em 0;
	overflow-x: scroll;
	border: 1px solid #ccc;
}

.table-content {
	margin:0 1%;
}


.sticky-table #clusterize-table {
	max-height:570px;
	overflow-y: auto;
	border-bottom: 1px solid #ccc;
}

table {
	margin:0;
}
table th, table td {
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 1.3rem;
}

.clusterize-headers table {

}

.owh-data-table th {
	color: #333;
}
/*.owh-data-table th:first-child {*/
/*text-align: left;*/
/*}*/

.owh-data-table th, #clusterize-table table td{
	line-height: 17px;
	min-width: 187px;
}

.owh-data-table th, td {
	border-right: 1px solid #dddddd !important;
}

/*.owh-data-table th:first-child, td:first-child {*/
/*border-left: 1px solid #dddddd;*/
/*}*/

.footer {
	color: #fff;
	padding: 20px;
}

.footer a {
	font-weight: normal;
}
.usa-width-one-third.footer-header-img {
	width: 25%;
}

.text-muted {
	color: #888;
}

.side-pane-label {
	color: #333;
	font-size: 16px;
	border-bottom: none;
}
.usa-width-one-fourth.side-pane-padding.border-right-default {
	background: #f0f9fd;
	margin-right: 0;
	width: 25%;
}
.side-filter-padding {
	margin-left: 0;

	border-top: 1px solid #ccc;
}
 .side-filters {
	 padding: 0 10px 10px 10px;
 }

/*.side-filter-padding {*/
	/*height: 100vh;*/
	/*overflow: hidden;*/
	/*overflow-y: auto;*/
/*}*/


.bg-white{
	background: white;
}

.selected-filters {
	padding:12px 20px 10px;
	border-bottom: 1px solid #ccc;
	min-height: 51px;

}


.filter-category {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:13px;
	font-weight: normal;
}

.custom-label .count-value {
	font-size: 12px;
	margin-right: 10px;
	color: #777;
	text-align: right;
}

.custom-modal-body {
	padding: 15px !important;
}

.custom-modal-header .dropdown-content {
	position: absolute;
	background-color: white;
	width: auto;
	height: auto;
	right: -51px;
	margin-bottom: 5px;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	padding: 10px;
	float: none;
	left: auto;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.custom-modal-header .dropdown-content a {
	font-size:16px;
	font-weight:normal;
	color: #333;
}

.custom-modal-header .modal-header-actions .dropdown-content  a {
	color: #333;
}
.custom-modal-header .modal-header-actions .minimize {
	font-size: 28px;
}

.thin-border-top {
	border-top: 1px solid #e2e3e3 !important;
}

.thin-border-bottom {
	border-bottom: 1px solid #DDDDDD;
}

.action-button {
	background-color: #915dc3;
	border-radius: 100px;
}
.condition-option {
	font-size: .9em;
	padding: 10px 25px 11px;
	margin: 0;
	margin-bottom: 10px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}
.action-button:hover {
	background-color: #582C83;
}
.custom-modal-header {
	border-bottom: 1px solid #ccc;
	padding: 10px 20px 10px 15px;
	font-family: 'Montserrat', Sans-serif;
	font-weight: bold;
}
.custom-modal-header span {
	font-size: 22px !important;
	flex-grow: 1;
}
.custom-modal-header .modal-header-actions span a, .custom-modal-header .modal-header-actions span, #overlay .fa-times {
	color: #888;
}

.custom-modal-header .modal-header-actions span a:hover {
	color: #915dc3;
}

.modal-header-actions {
	position: absolute;
	right: 0;
	top: 10px;
}

.parallax #overlay .fa-times {
	margin-top: 15px;
	margin-right: 10px;
}
#overlay .usa-grid.usa-width-one-whole > span.margin-left-20.margin-top-10 {
	font-family: 'Montserrat', Sans-serif;
	font-weight: bold;
	display: block;
}
label.common-label {
	margin-top: 0;
	padding: 0.5rem 0;
	max-width: none;
	font-weight: bold;
	color: #222;
}
#overlay {
	border: none;
	box-shadow: 0 10px 30px black;
}
.usa-sidenav-list span.filter-display-name {
	font-family: 'Montserrat', Sans-serif;
	font-size: 14px;
	font-weight: bold;
}

/* Responsive Fixes */

@media screen and (max-width: 600px) {
	.usa-width-one-whole.qh-section .usa-width-one-half:first-child:after {
		display: none;}
	.qh-box{
		margin-bottom:0;
	}
	.usa-width-one-whole.qh-section {
		padding: 20px;
	}
	.data-boxes-container {padding-left: 5%; padding-right: 5%;}
	.footer .padding-left-30 {padding-left: 0}
	.footer ul {margin-top: 0}
	.usa-width-one-third.footer-header-img {
		border: none; width: 100%; text-align:left;
	}
	.usa-width-one-half.footer-sign-up {margin-bottom: 20px;}
	.home-child-header {padding: 5%;}
}

.nvd3-dashed-line {
	stroke-dasharray: 5,5;
}

/*Media queries*/

/*css for iPad starts*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
	.graph-box {
		width: 45% !important;
		margin-right: 0px !important;
		margin-left: 29px;
	}
	.nv-axislabel, .graph-title {
		font-size: 12px;
	}
}
/*css for iPad ends*/

/* css for bookmark button */
.bookmark-div {
	margin-top: 11px !important;
}
.bookmark-button {

	border-radius: 4px;
	color: #222 !important;
	box-shadow: 0 0 0 1px #ccc !important;
	font-weight: normal;
	padding: 10px;
	cursor: pointer;

}
/* End of css for bookmark button */

/* remove font-awesome icon in yrbs select questions popup*/
.remove-question {
	cursor: pointer;
	color: #9da0a4;
	vertical-align: -7px;
}
.remove-question:hover{
	color:red;
}

.filter-search-box {
	height:32px;
	padding: 0rem 0.7em !important;
}

.clear-text-icon {
	position: absolute;
	margin-top: -28px;
	right: 25px;
	background-color: #833eb0;
	border-color: #833eb0;
	color: white;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

.disabled-filter {
	pointer-events: none;
}

.cursor-not-allowed {
	cursor: not-allowed;
	opacity: 0.4;
}

/* End remove font-awesome icon in yrbs select questions popup*/

/*Custom tab css*/
.custom-nav-tabs {
	border-bottom: 1px solid #ddd;
}
.custom-nav {
	margin-top: 0;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
ul.custom-nav-tabs {
	margin-top: 0 !important;
	margin-bottom: 10px;
}

ul.custom-nav-tabs {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 25px;
}

.custom-nav:after, .custom-nav:before,
.custom-navbar:after, .custom-navbar:before {
	display: table;
	content: " ";
}

.custom-nav:after, .custom-navbar:after {
	clear: both;
}
.custom-nav:after, .custom-nav:before,
.custom-navbar:after,
.custom-navbar:before{
	display: table;
	content: " ";
}

.custom-nav-tabs > li {
	float: left;
	margin-bottom: -9px;
}

.custom-nav > li {
	position: relative;
	display: block;
}

.custom-nav-tabs>li.active>a,
.custom-nav-tabs>li.active>a:focus,
.custom-nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.custom-nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.custom-nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.yrbs_search_links {
	margin-right: 3px;
	float: right;
	margin-top: 10px;
}

.yrbs_search_links .advanced-search-toggle {
	display: inline-block;
	padding: 5px 10px;
	font-weight: bold;
	font-size:14px;
}

.filter-pill {
	display: inline-block;
	padding: 3px 10px 1px;
	background: #ccedfd;
	border-radius: 4px;
	margin-right: 4px;
	font-size: 14px;
	margin-bottom: 4px;
}

.filter-pill.none {
	background: none;
	font-style: italic;
}


.disable-click {
	cursor: not-allowed;
}

/*Custom tab css*/

/*chart view toggle*/
.chart-view-toggle {
	display: block;
}

.dark-link {
	color: #515151;
}

.dropbtn {
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color:  #974bc2;
	padding: 5px 5px;
	text-decoration: none;
	display: block;
	font-size: 12px;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	color: #974bc2;
}

.dropdown:hover .dropdown-content {
	display: block;
}
/*Co-Branded Header css starts*/
.co-branded-header {
	background-color: #185394;
	font-size: 14px;
	text-align: center;
	z-index: 1;
	position: relative;
}
.co-branded-logo {
	float: left;
}
.co-branded-logo >  a, .co-branded-logo >  a:visited {
	display: block;
	width: 160px;
	height: 40px;
	text-indent: -1000em;
	z-index: 2000;
	background: url(https://www.hhs.gov/utilities/cbh/images/logo.png) no-repeat;
	color: white;
}
.co-branded-row {
	max-width: 940px;
	height: 40px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	font-style: 13px;
}
.co-branded-site-name {
	display: inline-block;
	position: relative;
	padding-top: 12px;
	color: #d4eefc;
}

.co-branded-row a {
	font-weight: normal;
}

.co-branded-explore-shown, .co-branded-explore-close {
	float: right;
	display: inline-block;
	margin-top: 8px;
}

.co-branded-anchor {
	display: inline-block;

}
.co-branded-anchor i {
	vertical-align: -7px;
}

.co-branded-anchor, .co-branded-anchor:hover, .co-branded-anchor:visited {
	color: #fff;
	text-decoration: none;
}
.co-branded-menus {
	background: url(https://www.hhs.gov/utilities/cbh/images/cbh-bg.gif) #e9eaeb 0px -40px;
	height: 44px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.co-branded-menu-block {
	display: inline-block;
	width: 25%;
	max-width: 235px;
	height: 44px;
	box-sizing: border-box;
	padding-top: 12px;
	margin-right: -3px;
}
.co-branded-anchor > img {
	position: relative;
	margin-left: 5px;
}
.co-branded-menus > .about-hhs {
	background-color: #185493;
}
.co-branded-menus > .program-services {
	background-color: #c94747;
}
.co-branded-menus > .grants-contracts {
	background-color: #77508e;
}
.co-branded-menus > .laws-regulations {
	background-color: #19826e;
}
/*Co-Branded Header css ends*/

.contentOwnership {
	padding: 10px;
	background: #efefef;
	text-align: center;
	border-top: 1px solid #ccc;
	line-height:20px;
}
.contentOwnership span {
	font-size: 12px;
	font-style: italic;
	color: #777;
}

.data-sets .contentOwnership {
	margin:0;
}

.error-404-main-div {
	margin-left: 340px;
	color: #555;
}

.error-404-hyperlink, error-404-hyperlink:visited {
	color: #974bc2 !important;
}

.error-msg-h1 {
	font-size: 100px;
}
.error-404-msg {
	margin-top: -100px;
}
.error-404-msg h6{
	text-transform: none;
	font-size: 14px;
	font-weight: bold;
}
.error-404-msg p{
	font-size: 14px;
}
.hig-formerly-msg {
	margin-left: 152px;
	color: rgba(255,255,255,0.5);
	font-size: 12px;
	font-style: italic;
	line-height:12px;
}

div.hero-container > div >  a:focus {
	background: #974bc2;
}

div.interested-in-filter:focus {
	box-shadow: inset 0 0 0 2px #8c56b7 !important;
}

.additional-info ul {
	list-style: inherit;
	padding-left: 0;
	margin-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

.additional-info ul li {
	list-style-type: disc;
	padding-left: 0;
	display: list-item;
}

.additional-info ul li:before, .additional-info ul li:after {
	display: none;
}

.suppression{
	padding-left: 20px;
}

ul.sub {
	padding-left: 20px;
}

.suppression ul li{
	list-style-type: disc;
	padding-left: 10px;
	display: list-item;
}

.suppression ul:before, .suppression ul:after, .suppression ul li:before, .suppression ul li:after {
	display: none;
}

select.tableViewDropDown:focus {
	box-shadow: inset 0 0 0 2px #8c56b7 !important;
	z-index: 1;
}
.cdcWonderLink {
	color: #974bc2 !important;
}
.cdcWonderLink:hover {
	color: #4c2c92 !important;
}
.buttonFocus:focus {
	background: #582C83;
}
.chart-icon:focus {
	border: 1px lightgray dashed;
}
.disableFocus {
	tab-index: -1;
}
.groupByLinks:focus {
	box-shadow: inset 0 0 0 2px dodgerblue !important;
}

ul.filter-group {
	display: flex;
	align-items: center;
	margin: 0;
	box-shadow: inset 0 -1px #ccc;
	justify-content: space-evenly;
}

ul.filter-group li {
	text-align: center;
	width:100%;
}

ul.filter-group li.selected {
	box-shadow: inset 0 -4px 0 #00adee;
}

ul.filter-group li a {
	padding: 12px 0;
	font-size: 1.4rem;
}

ul.filter-group li a:hover {
	background: none;
}

ul.filter-group li.selected a {
	color: #0080d1;
}

.topic-accordion i {
	vertical-align: -7px;
}

.horizontal-scroll {
	overflow: hidden;
	overflow-x: auto;
	border: 1px solid #ccc;
	position: relative;
}
.horizontal-scroll:after {
	content: '';
	height: 100%;
	width: 40px;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 92%,rgba(255,255,255,1) 100%);
}

.visualize {
	display: inline-block;
	text-align: center;
	font-size: 85%;
	line-height: 1;
	vertical-align: middle;
	font-family: 'Montserrat', Sans-serif;
	font-weight: bold;
}

.visualize i {
	display: block;
}
.text-align-left {
	text-align: left;
}

.stat-question {
	font-weight: bold;
}
.disclaimer-surveydata-notavailable {
	padding: 10px;
	font-weight: 400;
	color: #696969;
}

/**
* Conditional CSS for IE 8+.
*/
@media screen\0 {
	.hero-bg:after {
		opacity: 0.5 !important;
	}
}
/**
Factsheet css
 */


#pageHeading {
	color: #185394;;
}

.state-heading {
	font-size:30px;
	color: #5b2b82;
	margin:0;
}

.factsheet-header img {
	height:70px;
	margin: 10px 15px 10px 0;
}

.factsheet-container {
	z-index: 1;
	position: relative;
	padding: 0 30px;
	background: #f3f4f4;
}



.factsheet-container .generate-btn {
	margin-top:45px;
}

.factsheet-content {
	border-radius: 8px;
	background: white;
	box-shadow: 0 8px 20px rgba(0, 0, 0, .3);
	padding: 20px;
	margin-top: 30px;
}

.factsheet-details {
	border-top: 1px solid #ddd;
}
.factsheet-content table {
	border: 1px solid #ccc;
}


.factsheet-content table thead tr {
	background-color: #ebf8ff;
}

.factsheet-content table thead th {
	border-right: 1px solid #ccc !important;

}

.factsheet-header {
	align-items: center;
}

.factsheet-header h3 {
	flex-grow:1;
}

.factsheet-header .download-link {
	justify-content: flex-end;
	display: flex;
}
.factsheet-content .download-link i {
	font-style: normal;
	font-size:24px;
	margin-top: 0;
}

.factsheet-content h5 {
	font-size:22px;
}

.factsheet-content h5 img {
	width:100px;
}

.factsheet-content h6 {
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size:14px;
	color: #185394;
}
.factsheet-content i {
	font-size: 12px;
	font-style: italic;
	margin-top: 12px;
	display: block;
}
.table-heading {
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
}
.table-heading h5,
.table-heading p {
	display: inline;
}
.smallHeading {
	font-size: 12px;
}
.factsheet-pagebreak {
	page-break-after: always;
}

.solidBorder {
	border-top: 1px solid #ddd;
}
.data-use {
	top: 10%;
	left: 25%;
	height: 670px;
	overflow-y: auto;
	width: 900px;
	max-width: 85%;
	box-shadow: 0 10px 30px black;
	position:fixed;
	border: 2px solid black;
	background-color: #ffffff;
	z-index: 100;
	border-radius: 5px;
}
.fact-sheet-generator label {
	font-weight:bold;
}
.clusterize-scroll{
	max-height: 2000px;
}
div#expandedMap > div.leaflet-control-container > div.leaflet-bottom > div.leaflet-control > ul.legend-scale {
	padding-left: 215px;
}

div#expandedMap > div.leaflet-control-container > div.leaflet-bottom > div.leaflet-control > ul.legend-scale > li > span {
	height: 20px;
}

div#expandedMap > div.leaflet-control-container > div.leaflet-bottom > div.custom-legend {
	width: 875px;
}

div#expandedMap > div.leaflet-control-container > div.leaflet-bottom > div.leaflet-control-attribution {
	padding-right: 40px;
}

.unset-position {
	position: unset !important;
}
.map-custom-controls {
	z-index: 80;
	position: relative;
}
.map-container {
	z-index: 10;
	position: relative;
}

.restriction-modal-body {
	font-size: 1.4rem;
}

#responseSelector {
	width: 300px;
	padding: 0.7rem 0.7em;
	float: left;
}

#responselabel {
	float: left;
	margin-top: 0.5rem;
	padding: 6px;
}
.bridge-race-table1, .bridge-race-table2 {
	min-width: auto;
}
.bridge-race-table1 th, .bridge-race-table2 th {
	width: 196px;
}

.fs-dataset-subheading {
	font-weight: normal;
	font-size: 14px;
	position: relative;
	bottom: 2px;
	display: inline;
}
.prams-search-baner {
	font-style: italic;
	font-size: 12px;
	color: #C70039;
}