
.arrows {
    color:black;
    font-size:25px;
}

.arrow-box {
    float:left;
}

.menu-row {
    padding-left: 10px;
    margin-right: 0px;
    height:50px;
}

.sol-right-border {
    border-right:1px solid #ccc;
}

.font-30 {
    font-size: 30px;
}

.label-form {
    width:80%;
    float:left;
    font-size:15px;
}

.icon-position {
    width:10%;
    float:right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    width: 1710px;
    height: 70px;
    left: 1px;
    margin-bottom: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 90;
    float: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.clear-button {
    padding-left: 20px;
    padding-top: 10px;
}

.no-padding {
    padding-bottom: 0;
}

.height-150 {
    height:150px;
}

.picture-holder {
    width: 13%;
    height: 155px;
    float: left;
    margin: 10px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.picture-holder:hover {
    background: #f9f9f9;
    border: 2px solid lightgrey;
}

.height-700 {
    height: 700px;
}

.black-one-line {
    color: black;
    white-space: nowrap;
}

.dropdown-heading {
    float:left;
    font-size: 15px;
}

.flex-container {
    height: 130px;
    display: table;
    position: relative;
    top: 10px;
}

.dropdown-submenu {
    position:absolute;
    width:90%;
    height:400px;
    border-radius: 10px;
    z-index:999;
    background-color:#fff;
    box-shadow: -1px 2px 2px #888888;
    top: 28%;
    left:50px;
}

.push-left {
    left: 130px;
}

.karat {
    color: skyblue;
}

.select {
    width: 30%;
}

#std {
    width: 240px
}

#bridge-race {
    width:205px;
}

#natality {
    width: 145px;
}

#preg {
    width:185px;
}

#behavior {
    width:185px;
}