<div class="usa-grid">
    <ng-include src="'app/partials/disclaimer.html'"></ng-include>
    <ng-include src="'app/partials/coBrandedHeader.html'"></ng-include>
    <ng-include src="'app/partials/topBanner.html'"></ng-include>
</div>
<div class="factsheet-container">
    <div style="padding: 30px;">

        <h2 id="pageHeading" class="margin-top-10">Fact Sheets by State</h2>

        <div class="usa-width-one-whole">
            <div id="pageDescription">Select desired state to download fact sheets that present a snapshot of demographic characteristics as well as a variety of health status indicators</div>

            <div class="usa-grid fact-sheet-generator">
                <div class="usa-width-one-third">
                    <label for="state">I am interested in looking at</label>
                    <select name="state" id="state" ng-options="s.id as s.text for s in fsc.stateJSON"
                            ng-model="fsc.state" required>
                        <option value="">Select State</option>
                    </select>
                </div>
                <div class="usa-width-one-third">
                    <label for="type">for fact sheet type</label>
                    <select name="type" id="type"
                            ng-model="fsc.fsType"
                            ng-options="v for (k,v) in fsc.fsTypes" required>
                        <option value="">Select Type</option>
                    </select>
                </div>
                <div class="usa-width-one-third">
                    <a class="usa-button-secondary generate-btn" id="generateFactSheetLink" href="#" ng-click="fsc.getFactSheet(fsc.state, fsc.fsType);">
                        Generate fact sheet <i class="material-icons arrow-forward-white">arrow_forward</i>
                    </a>
                </div>
            </div>
            <ng-include src="'app/modules/factsheet/minority-health-factsheet.html'"></ng-include>
            <ng-include src="'app/modules/factsheet/womens-health-factsheet.html'"></ng-include>
            <ng-include src="'app/modules/factsheet/state-health-factsheet.html'"></ng-include>

            <div id="editor"></div>
        </div>
    </div>
</div>