<!-- women's health factsheet-->
<div class="womens-health-factsheet factsheet-content" ng-if="fsc.fsTypeForTable == fsc.fsTypes.womens_health && fsc.factSheet">

    <div class="factsheet-header flex-container">
        <img ng-src="{{fsc.stateImgUrl}}" />
        <h3 ng-bind="fsc.factSheetTitle" class="state-heading"></h3>
        <a href="#" ng-click="fsc.exportWomenFactSheet()" ng-if="fsc.factSheet"
           class="download-link">
            <i class="material-icons margin-right-10 pdf-icon">file_download</i>Download fact sheet for
            {{fsc.stateName}} (PDF)
        </a>
    </div>
    <div class="factsheet-details">

        <div class="bridge-race-factsheet">
            <h5 class="bridge-race-heading"><img src="../../images/icons/bridged-race-icon.svg"/>Population in {{fsc.stateName}}</h5>
            <p class="bridge-race-description">
                Total state female population: {{fsc.factSheet.gender[0].bridge_race | number }}
            </p>
            <div>
                <table class="bridge-race-table1">
                    <thead>
                    <tr>
                        <th>Distributions of Residents</th>
                        <th>State Population (Women)</th>
                        <th>National Population (Women)</th>
                        <th>State Population (Men)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="bold-class">Population</td>
                        <td>{{fsc.factSheet.totalGenderPop | number }} ({{fsc.factSheet.totalGenderPop/nationalFactSheet.totalGenderPop *100 | number:2}})</td>
                        <td>{{nationalFactSheet.totalGenderPop | number }}</td>
                        <td>{{mensFactSheet.totalGenderPop | number }}</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table class="bridge-race-table2" style="background-color: white;">
                    <thead>
                    <tr>
                        <th>Age Distributions of Residents</th>
                        <th>State Population (Women)</th>
                        <th>National Population (Women)</th>
                        <th>State Population (Men)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="agePopulationRow in fsc.populationTableEntries">
                        <td ng-repeat="populationEntry in agePopulationRow track by $index" ng-bind="populationEntry"> </td>
                    </tr>
                    </tbody>
                </table>
                <i class="bridge-race-info">
                    {{'fs.women.health.footnote1'| translate}}<br> {{'fs.women.health.footnote2'| translate}}<br>
                </i>
            </div>
        </div>
        <!--  Detail Mortality - Cause of Death -->
        <div class="detail-mortality-factsheet">
            <h5 class="mortality-heading"><img src="../../images/icons/detailed-mortality-icon.svg"/>Mortality</h5>
            <table class="detail-mortality-table">
                <thead>
                <tr>
                    <th rowspan="2">Cause of Death</th>
                    <th colspan="3" scope="colgroup">Number of Deaths</th>
                    <th colspan="3" scope="colgroup">Age-Adjusted Death Rate (per 100,000)</th>
                </tr>
                <tr>
                    <th scope="col">State (Women)</th>
                    <th scope="col">National (Women)</th>
                    <th scope="col">State (Men)</th>
                    <th scope="col">State (Women)</th>
                    <th scope="col">National (Women)</th>
                    <th scope="col">State (Men)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="eachRecord in fsc.factSheet.detailMortalityData">
                    <td ng-bind="eachRecord.causeOfDeath"></td>
                    <td ng-bind="eachRecord.data.deaths === 'suppressed' ? 'Suppressed' : ( eachRecord.data.deaths | number )"></td>
                    <td ng-bind="nationalFactSheet.detailMortalityData[$index].data.deaths === 'suppressed' ? 'Suppressed' :
                     ( nationalFactSheet.detailMortalityData[$index].data.deaths | number )"></td>
                    <td ng-bind="mensFactSheet.detailMortalityData[$index].data.deaths === 'suppressed' ? 'Suppressed' :
                     ( mensFactSheet.detailMortalityData[$index].data.deaths | number )"></td>
                    <td ng-bind="eachRecord.data.ageAdjustedRate ? eachRecord.data.ageAdjustedRate :'Not Available'"></td>
                    <td ng-bind="nationalFactSheet.detailMortalityData[$index].data.ageAdjustedRate ?
                     nationalFactSheet.detailMortalityData[$index].data.ageAdjustedRate :'Not Available'"></td>
                    <td ng-bind="mensFactSheet.detailMortalityData[$index].data.ageAdjustedRate ?
                     mensFactSheet.detailMortalityData[$index].data.ageAdjustedRate :'Not Available'"></td>
                </tr>
                </tbody>
            </table><br>
            <i class="mortality-info footer-notes primary" translate="{{ 'fs.women.health.mortality.footnote1' }}"></i>
            <i class="mortality-info footer-notes" translate="{{ 'fs.women.health.mortality.footnote2' }}"></i>
            <i class="mortality-info footer-notes" translate="{{ 'fs.women.health.mortality.footnote3' }}"></i>
            <i><a ng-href="/description/deaths" target="_blank">Click here for data suppression rules</a></i>
        </div>
        <br/>
        <!-- Prenatal Care and Pregnancy Risk -->
        <div class="prams-factsheet">
            <div class="table-heading"><h5><img src="../../images/icons/prams-icon.svg"/>Prenatal Care and Pregnancy Risk</h5></div>
            <table class="prams-table-1">
                <thead>
                <tr>
                    <th></th>
                    <th>State (Women)</th>
                    <th>National (Women)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="eachRecord in fsc.factSheet.prams" ng-class="{solidBorder: $index == 0}">
                    <td ng-bind="eachRecord.question"></td>
                    <td ng-if="eachRecord.data =='Not applicable'" ng-bind="'Not applicable'"></td>
                    <td ng-if="eachRecord.data !='Not applicable'" ng-bind="fsc.getMeanDisplayValue(eachRecord.data)"></td>
                    <td ng-if="nationalFactSheet.prams[$index].data =='Not applicable'" ng-bind="'Not applicable'"></td>
                    <td ng-if="nationalFactSheet.prams[$index].data !='Not applicable'" ng-bind="fsc.getMeanDisplayValue(nationalFactSheet.prams[$index].data)"></td>
                </tr>
                </tbody>
            </table>
            <i ng-hide="fsc.notParticipateStates['PRAMS'].states.indexOf(fsc.state) > -1" translate="{{ 'fs.women.prams.footnote' }}"></i>
            <i ng-show="fsc.notParticipateStates['PRAMS'].states.indexOf(fsc.state) > -1">{{fsc.notParticipateStates['PRAMS'].message}}</i>
            <i><a ng-href="/description/prams" target="_blank">Click here for data suppression rules</a></i>
        </div>
        <br/>
        <!--Maternal Risk Factors-->
<!--        <div class="natality-factsheet">-->
<!--            <div class="table-heading"><h5><img src="../../images/icons/natality-icon.svg"/>Maternal Risk Factors</h5></div>-->
<!--            <table class="natality-table">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th></th>-->
<!--                    <th>State</th>-->
<!--                    <th>National</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr ng-repeat="eachRecord in fsc.factSheet.natality" ng-class="{solidBorder: $index == 0}">-->
<!--                    <td ng-bind="eachRecord.cause"></td>-->
<!--                    <td ng-if="eachRecord.data =='Not applicable'" ng-bind="'Not applicable'"></td>-->
<!--                    <td ng-if="eachRecord.data !='Not applicable'" ng-bind="eachRecord.data | number "></td>-->
<!--                    <td ng-if="nationalFactSheet.natality[$index].data =='Not applicable'" ng-bind="'Not applicable'"></td>-->
<!--                    <td ng-if="nationalFactSheet.natality[$index].data !='Not applicable'" ng-bind="nationalFactSheet.natality[$index].data | number "></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--            <i ng-hide="fsc.notParticipateStates['PRAMS'].states.indexOf(fsc.state) > -1" translate="{{ 'fs.women.natality.footnote' }}"></i>-->
<!--            <i ng-show="fsc.notParticipateStates['PRAMS'].states.indexOf(fsc.state) > -1">{{fsc.notParticipateStates['PRAMS'].message}}</i>-->
<!--            <i>Click here for <a ng-href="/description/natality" target="_blank">data suppression</a> rules</i>-->
<!--        </div>-->
        <!-- BRFSS -->
<!--        <br/>-->
        <div class="brfss-factsheet">
            <div class="table-heading"><h5><img src="../../images/icons/brfss-icon.svg"/>Behavioral Risk Factors</h5></div>
            <table class="brfss-table">
                <thead>
                <tr>
                    <th></th>
                    <th>State (Women)</th>
                    <th>State (Men)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="eachRecord in fsc.factSheet.brfss" ng-class="{solidBorder: $index == 0}">
                    <td ng-bind="eachRecord.question"></td>
                    <td ng-if="eachRecord.data =='Not applicable'" ng-bind="'Not applicable'"></td>
                    <td ng-if="eachRecord.data !='Not applicable'" ng-bind="fsc.getMeanDisplayValue(eachRecord.data)"></td>
                    <td ng-if="mensFactSheet.brfss[$index].data =='Not applicable'" ng-bind="'Not applicable'"></td>
                    <td ng-if="mensFactSheet.brfss[$index].data !='Not applicable'" ng-bind="fsc.getMeanDisplayValue(mensFactSheet.brfss[$index].data)"></td>
                </tr>
                </tbody>
            </table>
            <i translate="{{ 'fs.women.brfss.footnote' }}"></i>
            <i><a ng-href="/description/brfss" target="_blank">Click here for data suppression rules</a></i>
        </div>
        <br/>
        <!-- YRBS -->
        <div class="yrbs-factsheet">
            <div class="table-heading"><h5><img src="../../images/icons/yrbss-icon.svg"/>Teen Health</h5></div>
            <table class="yrbs-table">
                <thead>
                <tr>
                    <th></th>
                    <th>State (Girls)</th>
                    <th>National (Girls)</th>
                    <th>State (Boys)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="eachRecord in fsc.factSheet.yrbs" ng-class="{solidBorder: $index == 0}">
                    <td ng-bind="eachRecord.question"></td>
                    <td ng-if="eachRecord.data =='Not applicable'" ng-bind="'Not applicable'"></td>
                    <td ng-if="eachRecord.data !='Not applicable'" ng-bind="fsc.getMeanDisplayValue(eachRecord.data)"></td>
                    <td ng-if="nationalFactSheet.yrbs[$index].data =='Not applicable'" ng-bind="'Not applicable'"></td>
                    <td ng-if="nationalFactSheet.yrbs[$index].data !='Not applicable'" ng-bind="fsc.getMeanDisplayValue(nationalFactSheet.yrbs[$index].data)"></td>
                    <td ng-if="mensFactSheet.yrbs[$index].data =='Not applicable'" ng-bind="'Not applicable'"></td>
                    <td ng-if="mensFactSheet.yrbs[$index].data !='Not applicable'" ng-bind="fsc.getMeanDisplayValue(mensFactSheet.yrbs[$index].data)"></td>
                </tr>
                </tbody>
            </table>
            <i ng-hide="fsc.notParticipateStates['YRBS'].states.indexOf(fsc.state) > -1" translate="{{ 'fs.women.yrbs.footnote' }}"></i>
            <i ng-show="fsc.notParticipateStates['YRBS'].states.indexOf(fsc.state) > -1">{{fsc.notParticipateStates['YRBS'].message}}</i>
            <i><a ng-href="/description/mental_health" target="_blank">Click here for data suppression rules</a></i>
        </div>
    </div>
    <div class="factsheet-part2">
        <!-- STD -->
        <div class="std-factsheet">
            <div class="table-heading"><h5><img src="../../images/icons/std-icon.svg"/>Sexually Transmitted Infections </h5> </div>
            <table class="std-table">
                <thead>
                <tr>
                    <th rowspan="2">Disease</th>
                    <th colspan="2" scope="colgroup">State (Women)</th>
                    <th colspan="2" scope="colgroup">National (Women)</th>
                    <th colspan="2" scope="colgroup">State (Men)</th>
                </tr>
                <tr>
                    <th scope="col">Total Cases</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Total Cases</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Total Cases</th>
                    <th scope="col">Rate</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="eachRecord in fsc.factSheet.stdData">
                    <td>{{eachRecord.disease}}</td>
                    <td ng-if="eachRecord.data==undefined" ng-bind="'Not available'"></td>
                    <td ng-if="eachRecord.data!=undefined" ng-bind="eachRecord.data.std | number"></td>
                    <td ng-bind="fsc.calculateRate(eachRecord.data.std, eachRecord.data.pop)"></td>
                    <td ng-if="nationalFactSheet.stdData[$index].data==undefined" ng-bind="'Not available'"></td>
                    <td ng-if="nationalFactSheet.stdData[$index].data!=undefined" ng-bind="nationalFactSheet.stdData[$index].data.std | number"></td>
                    <td ng-bind="fsc.calculateRate(nationalFactSheet.stdData[$index].data.std, nationalFactSheet.stdData[$index].data.pop)"></td>
                    <td ng-if="mensFactSheet.stdData[$index].data==undefined" ng-bind="'Not available'"></td>
                    <td ng-if="mensFactSheet.stdData[$index].data!=undefined" ng-bind="mensFactSheet.stdData[$index].data.std | number"></td>
                    <td ng-bind="fsc.calculateRate(mensFactSheet.stdData[$index].data.std, mensFactSheet.stdData[$index].data.pop)"></td>
                </tr>
                </tbody>
            </table>
            <i translate="{{ 'fs.women.std.footnote' }}"></i>
            <i><a ng-href="/description/std" target="_blank">Click here for data suppression rules</a></i>
        </div>
        <br/>
        <!-- HIV/AIDS -->
        <div class="hiv-factsheet">
            <div class="table-heading"><h5><img src="../../images/icons/aids-hiv-icon.svg"/>HIV/AIDS</h5></div>
            <table class="hiv-table">
                <thead>
                <tr>
                    <th rowspan="2">Disease</th>
                    <th colspan="2" scope="colgroup">State (Women)</th>
                    <th colspan="2" scope="colgroup">National (Women)</th>
                    <th colspan="2" scope="colgroup">State (Men)</th>
                </tr>
                <tr>
                    <th scope="col">Total Cases</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Total Cases</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Total Cases</th>
                    <th scope="col">Rate</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="eachRecord in fsc.factSheet.hivAIDSData">
                    <td>{{eachRecord.disease}}</td>
                    <td ng-if="eachRecord.data==undefined" ng-bind="'Not available'"></td>
                    <td ng-if="eachRecord.data!=undefined" ng-bind="eachRecord.data.aids | number"></td>
                    <td ng-bind="fsc.calculateRate(eachRecord.data.aids, eachRecord.data.pop)"></td>
                    <td ng-if="nationalFactSheet.hivAIDSData[$index].data==undefined" ng-bind="'Not available'"></td>
                    <td ng-if="nationalFactSheet.hivAIDSData[$index].data!=undefined" ng-bind="nationalFactSheet.hivAIDSData[$index].data.aids | number"></td>
                    <td ng-bind="fsc.calculateRate(nationalFactSheet.hivAIDSData[$index].data.aids, nationalFactSheet.hivAIDSData[$index].data.pop)"></td>
                    <td ng-if="mensFactSheet.hivAIDSData[$index].data==undefined" ng-bind="'Not available'"></td>
                    <td ng-if="mensFactSheet.hivAIDSData[$index].data!=undefined" ng-bind="mensFactSheet.hivAIDSData[$index].data.aids | number"></td>
                    <td ng-bind="fsc.calculateRate(mensFactSheet.hivAIDSData[$index].data.aids, mensFactSheet.hivAIDSData[$index].data.pop)"></td>
                </tr>
                </tbody>
            </table>
            <i translate="{{ 'fs.women.aids.footnote' }}"></i>
            <i><a ng-href="/description/aids" target="_blank">Click here for data suppression rules</a></i>
        </div>
        <br/>
        <!-- Cancer - Moratlity - Incidence -->
        <div class="cancer-factsheet">
            <h5><img src="../../images/icons/cancer-incidence-icon.svg"/>Cancer Statistics</h5>
            <table class="cancer-table">
                <thead>
                <tr>
                    <th rowspan="2">Cancer Site</th>
                    <th colspan="2" scope="colgroup">State (Women)</th>
                    <th colspan="2" scope="colgroup">National (Women)</th>
                    <th colspan="2" scope="colgroup">State (Men)</th>
                </tr>
                <tr>
                    <th scope="col">Incidence Crude Rates (per 100,000)</th>
                    <th scope="col">Mortality Crude Rates (per 100,000)</th>
                    <th scope="col">Incidence Crude Rates (per 100,000)</th>
                    <th scope="col">Mortality Crude Rates (per 100,000)</th>
                    <th scope="col">Incidence Crude Rates (per 100,000)</th>
                    <th scope="col">Mortality Crude Rates (per 100,000)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dt in fsc.factSheet.cancerData">
                    <td ng-bind="dt.site"></td>
                    <td ng-if="dt.incidence==undefined" ng-bind="'Not available'"></td>
                    <td ng-if="dt.incidence!=undefined" ng-bind="fsc.calculateRate(dt.incidence.cancer_incidence, dt.incidence.pop, true)"></td>
                    <td ng-if="dt.mortality==undefined" ng-bind="'Not available'"></td>
                    <td ng-if="dt.mortality!=undefined" ng-bind="fsc.calculateRate(dt.mortality.cancer_mortality, dt.mortality.pop, true)"></td>
                    <td ng-if="nationalFactSheet.cancerData[$index].incidence==undefined" ng-bind="'Not available'"></td>
                    <td ng-if="nationalFactSheet.cancerData[$index].incidence!=undefined"
                        ng-bind="fsc.calculateRate(nationalFactSheet.cancerData[$index].incidence.cancer_incidence,
                        nationalFactSheet.cancerData[$index].incidence.pop, true)"></td>
                    <td ng-if="nationalFactSheet.cancerData[$index].mortality==undefined" ng-bind="'Not available'"></td>
                    <td ng-if="nationalFactSheet.cancerData[$index].mortality!=undefined"
                        ng-bind="fsc.calculateRate(nationalFactSheet.cancerData[$index].mortality.cancer_mortality,
                        nationalFactSheet.cancerData[$index].mortality.pop, true)"></td>
                    <td ng-if="mensFactSheet.cancerData[$index].incidence=='na'" ng-bind="'Not applicable'"></td>
                    <td ng-if="mensFactSheet.cancerData[$index].incidence!='na'"
                        ng-bind="fsc.calculateRate(mensFactSheet.cancerData[$index].incidence.cancer_incidence,
                        mensFactSheet.cancerData[$index].incidence.pop, true)"></td>
                    <td ng-if="mensFactSheet.cancerData[$index].mortality=='na'" ng-bind="'Not applicable'"></td>
                    <td ng-if="mensFactSheet.cancerData[$index].mortality!='na'"
                        ng-bind="fsc.calculateRate(mensFactSheet.cancerData[$index].mortality.cancer_mortality,
                        mensFactSheet.cancerData[$index].mortality.pop, true)"></td>
                </tr>
                </tbody>
            </table>
            <i ng-hide="fsc.notParticipateStates['CancerIncidence'].states.indexOf(fsc.state) > -1">Sources: 2016, CDC NPCR , † Female only</i>
            <i ng-show="fsc.notParticipateStates['CancerIncidence'].states.indexOf(fsc.state) > -1">Sources: 2016, CDC NPCR , † Female only. {{fsc.notParticipateStates['CancerIncidence'].message}}</i>
            <i><a ng-href="/description/cancer_incidence" target="_blank">Click here for data suppression rules</a></i>
        </div>
    </div>
    <div class="usa-width-one-whole">
        <hr/>
        <i>
            Note: Please go to the &quot;<a href="#" ng-click="redirectToMortalityPage()">Explore</a>&quot; tab to see more fine-grained breakdown of results for each of the datasets
            <span class="pull-right">Last Updated On: {{'app.revision.date'| translate}}</span>
        </i>
    </div>
</div>