<aside>
    <div align="center" ng-if="!sfc.runOnFilterChange">
        <hr/>
        <button class="action-button condition-option ng-scope" ng-click="sfc.onFilter();" title="{{'label.run.query.title' | translate}}">{{'label.run.query' | translate}}</button>
    </div>
    <ul class="usa-sidenav-list side-filters">
        <!--iterate over filter by category-->
        <div ng-repeat="category in sfc.filters"
             ng-init="categoryKey = category.category"
             class="category-{{$index}}">
            <div class="padding-top-20 bold-class grey-text filter-category"
                 ng-if="categoryKey" ng-bind="categoryKey">
            </div>
            <!--iterate over filters of a category-->
            <li class="accordion" ng-repeat="sideFilter in category.sideFilters | orderBy: sfc.getFilterOrder"
                ng-class="{'cursor-not-allowed disabled-filter': !sfc.isVisible(sideFilter) || sideFilter.disabled }"
                ng-if="!categoryKey || $index < 2 || sfc.filters.selectedPrimaryFilter['cat' + $parent.$index]">
                <owh-side-filter-item category="category"
                                      filter="sideFilter"
                                      group-options="sfc.groupOptions"
                                      run-on-filter-change="sfc.runOnFilterChange"
                                      on-filter-value-change="sfc.onFilterValueChange(sideFilter, category)"
                                      on-filter="sfc.onFilter()"
                                      ></owh-side-filter-item>
            </li>
            <!--show hide/more filters of a category-->
            <div ng-if="category.sideFilters.length > 2 && categoryKey"
                 class="padding-top-10 toggle-filter-link">
                <a ng-show="!sfc.filters.selectedPrimaryFilter['cat'+$index]" class="custom-link show-more-{{$index}}"
                   translate="label.show.more.filters"
                   translate-values="{showLength: (category.sideFilters.length - 2)}"
                   ng-click="sfc.filters.selectedPrimaryFilter['cat'+$index] = !sfc.filters.selectedPrimaryFilter['cat'+$index]" href="javascript:void(0)"></a>
                <a ng-show="sfc.filters.selectedPrimaryFilter['cat'+$index]" class="custom-link show-less-{{$index}}"
                   translate="label.hide.more.filters"
                   translate-values="{hideLength: (category.sideFilters.length -2)}"
                   ng-click="sfc.filters.selectedPrimaryFilter['cat'+$index] = !sfc.filters.selectedPrimaryFilter['cat'+$index]" href="javascript:void(0)"></a>
            </div>
        </div>
        <li class="accordion" ng-repeat="util in sfc.utilities">
            <span>
                 <div class="side-pane-div custom-div">
                    <a href="javascript:void(0)" ng-click="util.collapse = !util.collapse"
                       title="{{util.helpText | translate}}" class="custom-link">
                        <span class="fa" ng-class="util.collapse?'fa-chevron-right':'fa-chevron-down'"></span>
                        <span translate="{{util.title}}"></span>
                    </a>
                 </div>
                <ul class="owh-side-menu__options-list usa-unstyled-list group-options" ng-hide="util.collapse">
                    <div class="owh-side-menu__utility-option" ng-repeat="option in util.options">
                        <div ng-if="option.type === 'toggle'">
                            <span>{{option.title}}</span>
                            <owh-toggle-switch class="pull-right"
                                               model="option.value"
                                               options="option.options"
                                               on-change="option.onChange(option.value, option)">
                            </owh-toggle-switch>
                        </div>
                        <br ng-if="$index === 0" />
                    </div>
                </ul>
            </span>
        </li>
    </ul>
</aside>
