<div class="usa-grid-full">
    <div class="usa-grid-full usa-width-one-whole">
        <div class="usa-width-two-third margin-right-0 margin-left-10" >
            <div>
                <label for="interestedIn"><div class="left-float text-right interested-text" ng-bind="'label.interested.in' | translate"></div></label>
                <select id="interestedIn" ng-model="ots.filters.selectedPrimaryFilter"
                        ng-options="primaryFilter.title | translate for primaryFilter in ots.filters.primaryFilters"
                        ng-change="ots.onPrimaryFilter({newFilter: ots.filters.selectedPrimaryFilter})"
                        class="interested-in-filter usa-width-one-half add-on-element gray-border margin-0"></select>
                <div class="usa-width-one-twelfth padding-top-10">by</div>
            </div>
        </div>
        <div class="usa-width-one-third margin-right-0 by-filter">
            <ui-select multiple ng-model="ots.filters.selectedPrimaryFilter.value"
                       theme="bootstrap" name="filter" id="filter"
                       class="usa-width-one-whole dashboard-element"
                       on-select="ots.groupByFiltersUpdated(true)"
                       on-remove="ots.groupByFiltersUpdated()">
                <ui-select-match class="ui-select-match" allow-clear="true"
                                 placeholder="Click here to type">{{$item.title | translate}}</ui-select-match>
                <ui-select-choices class="ui-select-choices" group-by="'type'" ui-disable-choice="option.disableFilter"
                                   repeat="option as option in ots.filters.selectedPrimaryFilter.allFilters | filter: $select.search">
                    <div ng-bind-html="option.title | translate | highlight: $select.search" tabindex="1"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="usa-width-one-fourth margin-right-0" ng-show="ots.filters.selectedPrimaryFilter.key === 'deaths'">
            <label for="showMeDropDown"><div class="usa-width-one-fourth show-me-text" ng-bind="'label.show.me' | translate"></div></label>
            <select id="showMeDropDown" ng-model="ots.selectedShowFilter"
                    ng-change="ots.onViewFilter({selectedFilter: ots.selectedShowFilter})"
                    ng-options="eachFilter.title | translate for eachFilter in ots.showFilters.deaths"
                    class="usa-width-two-thirds add-on-element gray-border margin-0"></select>
        </div>
        <div class="usa-width-one-fourth margin-right-0" ng-show="ots.filters.selectedPrimaryFilter.key === 'natality'">
            <label for="natalityDropDown"><div class="usa-width-one-fourth show-me-text" ng-bind="'label.show.me' | translate"></div></label>
            <select id="natalityDropDown" ng-model="ots.selectedShowFilter"
                    ng-change="ots.onViewFilter({selectedFilter: ots.selectedShowFilter})"
                    ng-options="eachFilter.title | translate for eachFilter in ots.showFilters.natality"
                    class="usa-width-two-thirds add-on-element gray-border margin-0"></select>
        </div>
        <div class="usa-width-one-fourth margin-right-0" ng-show="ots.filters.selectedPrimaryFilter.key === 'prams'">
            <label for="pramsDropDown"><div class="usa-width-one-fourth show-me-text" ng-bind="'label.prams.class' | translate" title="{{'label.help.text.prams.class' | translate}}"></div></label>
            <select id="pramsDropDown" ng-model="ots.selectedShowFilter"
                    ng-change="ots.onViewFilter({selectedFilter: ots.selectedShowFilter})"
                    ng-options="eachFilter.title | translate for eachFilter in ots.showFilters.prams"
                    class="usa-width-two-thirds add-on-element gray-border margin-0"></select>
        </div>

        <div class="usa-width-one-fourth margin-right-0"
             ng-show="ots.filters.selectedPrimaryFilter.key === 'brfss'">
            <label for="brfsClassDropDown">
                <div class="usa-width-one-fourth show-me-text"
                    ng-bind="'label.prams.class' | translate"
                    title="{{'label.help.text.prams.class' | translate}}">
                </div>
            </label>
            <select id="brfsClassDropDown" ng-model="ots.selectedShowFilter"
                    ng-change="ots.onViewFilter({selectedFilter: ots.selectedShowFilter})"
                    ng-options="eachFilter.title | translate for eachFilter in ots.showFilters.brfss"
                    class="usa-width-two-thirds add-on-element gray-border margin-0"></select>
        </div>

        <div class="usa-width-one-fourth margin-right-0" ng-show="ots.filters.selectedPrimaryFilter.key === 'mental_health'">
            <label for="yrbsDropDown"><div class="usa-width-one-fourth show-me-text" ng-bind="'label.yrbs.healthtopics' | translate" title="{{'label.yrbs.healthtopics' | translate}}"></div></label>
            <select id="yrbsDropDown" ng-model="ots.selectedShowFilter"
                    ng-change="ots.onViewFilter({selectedFilter: ots.selectedShowFilter})"
                    ng-options="eachFilter.title | translate for eachFilter in ots.showFilters.mental_health"
                    class="usa-width-two-thirds add-on-element gray-border margin-0"></select>
        </div>
        <div class="usa-width-one-fourth margin-right-0" ng-show="ots.filters.selectedPrimaryFilter.key === 'cancer_incidence'">
            <label for="showMeDropDown"><div class="usa-width-one-fourth show-me-text" ng-bind="'label.show.me' | translate"></div></label>
            <select id="showMeDropDown" ng-model="ots.selectedShowFilter"
                    ng-change="ots.onViewFilter({selectedFilter: ots.selectedShowFilter})"
                    ng-options="eachFilter.title | translate for eachFilter in ots.showFilters.deaths"
                    class="usa-width-two-thirds add-on-element gray-border margin-0"></select>
        </div>
        <div class="usa-width-one-fourth margin-right-0" ng-show="ots.filters.selectedPrimaryFilter.key === 'cancer_mortality'">
            <label for="showMeDropDown"><div class="usa-width-one-fourth show-me-text" ng-bind="'label.show.me' | translate"></div></label>
            <select id="showMeDropDown" ng-model="ots.selectedShowFilter"
                    ng-change="ots.onViewFilter({selectedFilter: ots.selectedShowFilter})"
                    ng-options="eachFilter.title | translate for eachFilter in ots.showFilters.deaths"
                    class="usa-width-two-thirds add-on-element gray-border margin-0"></select>
        </div>
        <div class="forward-back">
            <button class="action-button condition-option ng-scope"  ng-click="ots.goBackward();"
                    title="Previous Query" aria-label="Back"><span class="fa fa-chevron-left" ng-class="fa-chevron-left"></span></button>
            <button class="action-button condition-option ng-scope"
                    ng-click="ots.goForward();" title="Next Query" aria-label="Forward"><span class="fa fa-chevron-right" ng-class="fa-chevron-right"></span></button>
        </div>
        <!--<owh-bookmark table-view="ots.tableView"></owh-bookmark>-->
    </div>
    <a ui-sref="description" class="pull-right">Data Documentation</a>
</div>
<!--<button class="action-button" translate="label.search" ng-click="ots.searchResults({})"></button>-->
