<div class="sp-header footer">
    <div class="footer-header">
        <div class="logo-container cursor-pointer">
            <img class="owh-logo" ui-sref="home" src="../images/owh-logo-white.svg" alt="owh_white_logo"/>
            <div class="logo-divider"></div>
            <img class="hig-logo" ui-sref="home" src="../images/hig-logo-white.svg" alt="HIG Logo" />
        </div>
        <div class="hig-formerly-msg">
            <span class="usa-text-small">Formerly Quick Health Data Online</span>
        </div>
    </div>
    <div>
        <ul class="footer-link">
            <!--put ul and li back if needed-->
            <li class="cursor-pointer sp-icon-div" >
                <a class="ft-link" ng-href="https://www.womenshealth.gov/contact-us/email/" target="_blank">Contact OWH</a>
            </li>
            <li class="cursor-pointer sp-icon-div">
                <a class="ft-link" ng-href="https://www.hhs.gov/privacy.html" target="_blank">Privacy Policy</a>
            </li>
            <li class="cursor-pointer sp-icon-div">
                <a class="ft-link" ng-href="https://www.hhs.gov/foia/" target="_blank">FIOA</a>
            </li>
            <li class="cursor-pointer sp-icon-div">
                <a class="ft-link" ng-href="https://www.hhs.gov/plugins.html" target="_blank">Viewers & Players</a>
            </li>
            <li class="cursor-pointer sp-icon-div">
                <a class="ft-link" ng-href="http://www.womenshealth.gov" target="_blank">Womenshealth.gov </a>
            </li>
            <li class="cursor-pointer">
                <a class="ft-link" ng-href="https://www.hhs.gov/" target="_blank">HHS.gov</a>
            </li>
            <li class="cursor-pointer">
                <a class="ft-link" ng-href="https://www.usa.gov/" target="_blank">USA.gov</a>
            </li>
        </ul>
        <span class="usa-text-small contentOwnership">Content created by Office on Women's Health. Content last reviewed on 7/28/2017</span>
    </div>
</div>