<div class="usa-grid-full footer">
    <div class="usa-width-one-half footer-header">
        <div class="usa-grid-full">
            <div class="usa-width-one-third footer-header-img"><img width="110px" height="50px" src="app/images/owh_logo.png" alt="OWH Logo" style="margin-left: 20px"></div>
            <div class="usa-width-two-thirds"><span class="footer-h2 margin-top-0" ng-bind="'label.app.title.qhdo' | translate"></span></div>
        </div>
        <div class="hig-formerly-msg">
            <span class="usa-text-small">Formerly Quick Health Data Online</span>
        </div>
    </div>
    <div class="usa-width-one-half">
        <div class="usa-grid">
            <div class="usa-width-one-fourth">
                <ul>
                    <li class="footer-li"><a ng-href="https://www.womenshealth.gov/contact-us/email/" target="_blank">Contact HHS</a></li>
                    <li class="footer-li"><a ng-href="https://www.hhs.gov/privacy.html" target="_blank">Privacy Policy</a></li>
                </ul>

            </div>
            <div class="usa-width-one-fourth">
                <ul>
                    <li class="footer-li"><a ng-href="https://www.hhs.gov/foia/" target="_blank">FIOA</a></li>
                    <li class="footer-li"><a ng-href="https://www.hhs.gov/plugins.html" target="_blank">Viewers & Players</a></li>
                </ul>
            </div>
            <div class="usa-width-one-fourth">
                <ul>
                    <li class="footer-li"><a ng-href="http://www.womenshealth.gov" target="_blank">Womenshealth.gov </a></li>
                    <li class="footer-li"><a ng-href="https://www.hhs.gov/" target="_blank">HHS.gov</a></li>
                </ul>
            </div>
            <div class="usa-width-one-fourth">
                <ul>
                    <li class="footer-li"><a ng-href="https://www.usa.gov/" target="_blank">USA.gov</a></li>
                </ul>
            </div>
        </div>
        <div class="contentOwnership">
            <span class="usa-text-small">Content created by Office on Women's Health and last reviewed on 7/28/2017</span>
        </div>
    </div>
</div>