<div class="usa-grid-full sp-header footer">
    <div class="usa-width-one-half footer-header">
        <div class="usa-grid-full">
            <div class="usa-width-one-third footer-header-img"><img width="110px" height="50px" src="../images/owh-logo-white.svg" alt="OWH Logo" style="margin-left: 20px;"></div>
            <div class="usa-width-two-thirds"><img ui-sref="home" src="../images/hig-logo-white.svg" alt="HIG Logo" height="60" width="300"></div>
        </div>
    </div>
        <div class="usa-width-one-half footer-link">
                <!--put ul and li back if needed-->
            <div class="usa-width-one-sixth cursor-pointer sp-icon-div" >
                <a class="home-link" href="#" ng-href="#" ng-click="fc.showPhaseTwoWarningModal('label.default.to.be.implemented');">FAQS</a>
            </div>
            <div class="usa-width-one-sixth cursor-pointer sp-icon-div">
                <a class="home-link" href="#" ng-href="#" ng-click="fc.showPhaseTwoWarningModal('label.default.to.be.implemented');">Links</a>
            </div>
            <div class="usa-width-one-sixth cursor-pointer sp-icon-div">
                <a class="home-link" href="#" ng-href="#" ng-click="fc.showPhaseTwoWarningModal('label.default.to.be.implemented');">Downloads</a></li>
            </div>
            <div class="usa-width-one-sixth cursor-pointer sp-icon-div">
                <a class="home-link" href="#" ng-href="#" ng-click="fc.showPhaseTwoWarningModal('label.default.to.be.implemented');">Contact</a></li>
            </div>
            <div class="usa-width-one-sixth cursor-pointer sp-icon-div">
                <a class="home-link" ng-href="http://www.womenshealth.gov" target="_blank">womenshealth.gov </a></li>
            </div>
                <div class="usa-width-one-sixth cursor-pointer">
                    <a class="home-link" ng-href="http://www.womenshealth.gov" target="_blank">HHS.gov</a></li>
                </div>
            </div>
        </div>